---
layout: project_site
---
<!doctype html>
{% include html_start.html %}

<div id='nav'>
    <ul><a class="btn-lg" href="#download">
                                Download Font
                            </a>
        <div class="fb-share-button" data-href="http://mooniak.com/abhaya-libre-font/" data-layout="button"></div>
    </ul>
</div>
<div style="height:100vh; background:#1FC4DE; color:#FFFFEF;">
    <div class="container">
        <div class="row">
            <div class=" col-md-6 col-md-offset-3" style="  padding: 30px;">
                <h1 id="fittext1" style=" font-weight:800; text-align:center;"> අභය</h1>
                <h1 id="fittext2" style=" -webkit-font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'ss01' 1; font-weight:800;line-height:0.03; text-align:center;"> දානය</h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 id="fittext3" style="font-weight:600; text-align:center;">අභය ලිබ්රේ අකුරු මුහුණත <br> Abhaya Libre Font</h1>
                <h3 style="font-weight:400; text-align:center;">එෆ් එම් අභය අකුරු මුහුණතේ යුනිකේත අනුකූල නිකුතුව.<br>The unicode compliant Free /Libre version of Pushpananda Ekanayakes's FM Abhaya font refactord in collaboration with mooniak. Latin by Sol Matas. 
</h3>
                <div class="row">
                    <div class=" col-md-2 col-md-offset-5">
                        <a class="btn-lg" href="#sample">
                            <i class='glyphicon glyphicon-arrow-down 3x'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sample" class="container">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div style="text-align: center; font-weight: 800; font-size: 555px; line-height:.6" id="fittext4">ණ</div>
            <div class="row">
                <div style="text-align: center; font-weight: 800;line-height:1.9;" id="fittext5">a n g 4</div>
            </div>
        </div>
        <div class="col-md-6">
            <h1 style=" font-weight:800; font-size:100px; color:#FF733C"> අභය නිදහස් වෙයි.</h1>
            <p>
                වර්තමානයේ, මාධ්‍ය සහ තොරතුරු ක්ෂේත්‍රයේ වැඩිපුරම භාවිතා වන සිංහල ෆොන්ටය වන්නේ 1996 වසරේ නිමවන ලද ‘එෆ්එම් අභය' අකුරු මුහුණතයි. ලක්දිව උපතිස්ස නුවර ක්‍රිස්තු පූර්ව 474 සිට ක්‍රිස්තු පූර්ව 454 දක්වා රජකම් කළ <b style="font-weight:800;">‘අභය’</b> රජුගේ නමින් නාමික අභාෂය ලබන එෆ්එම් අභය, අතීත අච්චු අකුරු මුහුණත් වලින් රූපික ආභාෂය ලැබගනී.
            </p>
            <p style="font-weight: 700;
    border-bottom: 1px solid #008B8B;
    border-top: 1px solid #008B8B;
    padding: 10px 0px;
    font-size: 18px;    margin: 15px 0px;
 "> ව්‍යාපෘතිය ගූග්ල් සමාගමේ අනුග්‍රහය යටතේ එෆ්එම් අභය අකුරු මෝස්තරයේ නිර්මාණ ශිල්පී පුෂ්පානන්ද ඒකනායක මහතාගේ සහයෝගිත්වය ඇතිව මූනියැක් සමගම විසින් සිදුකරන ලදී. මූනියැක්, නිර්මාණවේදීන්ගේ සහයෝගීත්ව සාමූහිකය, වඩාත් දියුණු ශ්‍රී ලාංකීය ජාතියක් උදෙසා නිර්මානවේදයේ උපයෝගීතාවයන් සොයන අගනුවර ආශ්‍රිත තරුණ ක්‍රියාකාරිකයන් සමූහයකි.
            </p>
            ‘අභය ලිබරේ’, එෆ්එම් අභය අකුරු මුහුණත පුර්වජයා කොටගත්, සම්පූර්ණ නිදහස්, හිමිකමින් තොර, යුනිකෝඩ් අනුකූලතා පහසුකම සහිත, පොළොව මත වැඩිපුරම භාවිතයක් ඇති සිංහල ෆොන්ටයේ නිදහස් අනුවර්තනයයි. යුනිකෝඩ් අනුවර්තන ක්‍රියාවලියේදී, වෙබ්, ටැබ් සහ වඩාත් කුඩා අකුරු මුහුණත් අවශ්‍ය වන ස්මාර්ට් ෆෝන් අතුරු මුහුණත් සඳහා අවශ්‍ය <b>එෆ්එම් අභය අකුරු මුහුණත </b> මුළුමුනින්ම නැවත අඳින ලදී. පැහැ අන්තර පහක් (5) යටතේ අතුරු මුහුණත් නිර්මාණ ශිල්පීන්ට නිර්මාණවල ගුණාත්මක අගය විවිධාකාර පරාසයන් කරා රැගෙන යා හැකිය.
            <p></p>
        </div>
    </div>
</div>
<div style=" background:url(./images/concrete_seamless.png); overflow:hidden; ">
    <div class="row" style=" -ms-transform: rotate(-4deg); /* IE 9 */-webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */transform: rotate(-4deg);margin-top: -60px;">
        <div class="col-md-3">
            <div style='padding:15px 30px; background:#545454; color:#fff;'>
                <h1> <span style="font-weight:800;">අල්ලස් කොමිසම විසුරුවීමට කිසිදු තීරණයක් ගෙන නැහැ. </span> <span style="font-weight:600; font-size:20px;">– ජනාධිපති මාධ්‍ය අංශය</span> </h1>
            </div>
            <br>
            <p style='font-size:18px; font-weight:600;'>
                අල්ලස් හෝ දුෂණ විමර්ශන කොමිසන් සභාව මේ සතියේ විසුරුවා හරින බවට ඇතැම් පුවත්පත්වල වාර්තා පළ වී ඇති අතර එම වාර්තා මුලුමනින්ම අසත්‍ය හා පදනම් විරහිත බව ජනාධිපති මාධ්‍ය අංශය නිවේදනයන් නිකුත් කරමින් කියා සිටී. අල්ලස් හෝ දුෂණ විමර්ශන කොමිසම පිහිටුවීම, සාමාජිකයින් පත් කිරීම හා ඉවත් කිරීම 19 වන ආණ්ඩුක්‍රම ව්‍යවස්ථාවේ ක්‍රමවේදයන්ට අනුව සිදු විය යුතුය. ඒ අනුව අල්ලස් හෝ දුෂණ විමර්ශන කොමිසම විසුරුවා හැරීමේ බලයක් නොමැත. කෙසේ වෙතත් ව්‍යවස්ථාදායක සභාව පිහිටුවීමෙන් අනතුරුව සියලූ කොමිසන් සභාවලට කොමසාරිස්වරුන් පත් කෙරෙනු ඇත.
            </p>
            <div style='padding:10px 0px; margin-top:30px; color:#000;'>
                <h1> <span style="font-weight:800;">යුධ අපරාධ විමර්ශනයට සම්මිශ්‍ර අධිකරණයක් යෝජනා </span>  </h1>
            </div>
            <br>
            <p style='font-size:18px; font-weight:600;'>
                2002-2011 කාලයේ ශ්‍රී ලංකාවේ සිදුවීයයි කියනු ලබන මනුෂ්‍යත්වයට එරෙහි අපරාධ හා යුද අපරාධ විමර්ශනය කිරීමට ජාතික හා ජාත්‍යන්තර වශයෙන් සම්මිශ්‍රණයක් සහිත විශේෂ අධිකරණයක් (hybrid) ස්ථාපිත කළ යුතු බව එක්සත් ජාතීන්ගේ මානව හිමිකම් කොමසාරිස් අල්හුසෙයින් සෙයිද් කුමරු අද ප‍්‍රකාශ කලේය. ඒ සඳහා ජාත්‍යන්තර විනිසුරුවරුන්,අභිචෝදකයින්,නීතිඥයින් හා පර්යේෂකයින් ඇතුළත් විය යුතු බව හෙතෙම අද (16) ජිනීවාහි විශේෂ මාධ්‍ය හමුවක් කැඳවමින් කියා සිටියේය.
            </p>
        </div>
        <div class="col-md-3">
            <h1 style="font-weight: 800; font-size:50px;">උඩරට නැටුමේ විත්ති  </h1>
            <p>පුරාවෘත්තීන්ට අනුව එකල රජකම් කළ රජු සිහිනයකදී අඳුන් දිවියෙක් තමාගේ ඇඟට පනිනු දැක ඇත. එකල පැවති විශ්වාසයට අනුව, එම සිහිනය කුවේණියගේ ශාපය තමාමත පතිත වීමක් යැයි සැලකූ රජු ඉන් දරුණු ලෙස රෝගාතුර විය. මෙම රෝගය සුව කිරීම පිණිස රජු විසින් කළ ඉල්ලීමකට අනුව යැකැදුරන් පිරිසක් ඉන්දියාවේ සිට ලංකාවට පැමිණි අතර ඉන් පසු රජුහට කොහොඹා කංකාරිය නම් වූ ශාන්ති කර්මය සිදු කරන ලදී. මෙයින් රජු සම්පූර්ණ සුවය ලැබූ බවත්, දැනට පවතින උඩරට සාම්ප්‍රදායික නැටුම් කලාවේ මූලාරම්භය මෙය බවත් ඉතිහාසයේ සඳහන් වේ.
                <blockquote style="font-weight:600;">උඩරට නැටුම් යනු ශ්‍රී ලංකාවේ මධ්‍යම කදුකර ප්‍රදේශයේ ආරම්භ වූ නැටුම් සම්ප්‍රදායකි. සිංහල නැටුම් සම්ප්‍රදායන් අතරින් එක් ප්‍රධාන සම්ප්‍රදායකි. නමුත් මේ වන විට එය දිවයිනේ සෑම ප්‍රදේශයකම පුළුල් ව පැතිරී ඇත.</blockquote>
            </p>
            <p>
                <b>වෙස් නැටුම්</b>
                <br> උඩරට වෙස් නර්තනය ශ්‍රි ලංකාවේ ඉතාමත් වැදගත් සංස්කෘතික අංගයකි. එය ශ්‍රී ලංකාවේ අනන්‍යතාවය සංකේතවත් කරන ඉතාමත් වැදගත් සංස්කෘතික අංගයකි. වෙස් නර්තන කලාවේ එන ඉතාමත් වැදගත් නර්තන අංගයකි කොහොඹ කංකාරිය.
            </p>
            <p>
                <b>නෛඅඩි නැටුම</b> නෛඅඩි නර්තනය රග දක්වනු ලබන්නේ කොහොඹා කංකාරි‍ය සදහා සූදානම් වන අතරතුර එනම් පහන් දැල්වීමේදී හා යකුන්, පිශාචයන් උදෙසා පිදේනි පුදන අතරතුරදීය. නැට්ටුවා තම ඇදුම් කට්ටලය වශයෙන් සුදු රෙද්දක්, අත් පළදනා, ජඨාව, ජඨා පටිය, ශිඛා බන්දනය, දෙවුර මාලා, ශිලම්බු (පා සළඹ) සහ ගෙජ්ජි යනාදියෙන් සැරසෙයි.
            </p>
            <p>
                <b>උඩැක්කි නැටුම </b> උඩැක්කි නර්තනය යනු ඉතා ප්‍රසිදධ නර්තන විශේෂයකි. දෙවියන් විසින් දෙන ලදැයි සැලකෙන මෙම උඩැක්කිය අගල් 7 1/2 පමන දිගින් යුතු ඔප දැමූ බෙරයක හැඩැති වාදව භාණ්ඩයකි. පුරාණ විශ්වාසයන්ට අනුව මෙහි බෙර සම් ඊශ්වර දෙවියන්ගේද, නාදය විශ්නු ද.
            </p>
            </p>
        </div>
        <div class="col-md-3">
            <img style="    width: 75%;
    margin: 0 auto;
    display: block;" src="https://openclipart.org/download/226978/DevilDancer.svg" />
            <br>
            <br> William Cain ගේ 'Picturesque India' කෘතියෙන්, 1890.
            <br>
            <br>
            <p>
                <b>පන්තේරු නැටුම</b> පන්තේරුව පත්තිනි දේව මෑණියන් හට වෙන් කෙරුණු වාද්‍ය භාණ්ඩයකි. එය හැඩයෙන් බෙර සම් රහිත රබානකට සමාන වන අතර පරිධිය වටා කුඩා අත්තාලම් සවි කර ඇත. දෙවියන් මෙය යුධ ජයග්‍රහණ සැමරීමේදී වාද්‍ය භාණ්ඩයක් ලෙස යොදා ගන්නට ඇතැයි විශ්වාස කෙරෙන අතර පැරණි සිංහල රජවරුන් යුද්ධ භූමියන්හි ජයග්‍රහණ සැමරීම සදහා පන්තේරු නැට්ටුවන් යොදා ගෙන ඇත. පන්තේරු නැට්ටුවාගේ ඇදුම් කට්ටලය උඩැක්කි නැට්ටුවාගේ ඇදුම් කට්ටලයට බොහෝ සෙයින් සමාන වන නමුත් පබළු උරමාලයක් ඊට අඩංගු නොවේ.
            </p>
        </div>
        <div class="col-md-3">
            <h1>2014 ලෝක රූ රැජිණ දකුණු අප්‍රිකාවෙන් </h1>
            <p>
                2014 වසරේ ලෝක රෑ රැජිණ තරගයේ කිරුළ දකුණු අප්‍රිකානු ජාතික රොලීන් ස්ට්‍රෝස් දිනා ගත්තා ය. එහි අවසන් මහා තරගය පැවැත්වුනේ ලන්ඩන් නුවරදී ය 2014 ලෝක රෑ රැජිණ තරගයේ කිරුළ දිනූ 22 හැවිරිදි රොලීන් ස්ට්‍රෝස් මේ වන විට වෛද්‍ය සිසුවියක ලෙස අධ්‍යාපනය හදාරන්නී ය. මෙහි දෙවන හා තෙවන ස්ථාන ජයග්‍රහණය කළේ, හංගේරියානු රූමතියක වන එඩ්නා කල්ස්කර් හා අමෙරිකානු රූමතියක වන එළිසබත් සෆ්රිට ය.
            </p>
            <img style="width:100%;" src="images/beauty.jpeg">
            <p>
                <br> ලෝක රූ රැජිණ යනු ලෝක රූ රැජිණ සංවිධානය (Miss World Organisation) විසින් වාර්ෂිකව පවත්වනු ලබන, එක් එක් වසර වලදී ජාත්‍යන්තර මට්ටමෙන් රූප සුන්දරියක් තෝරා ගන්නා තරඟයකි. ජාත්‍යන්තර රූ රැජිණ, මිහිකත රූ රැජිණ සහ විශ්ව රූ රැජිණ තරඟ හැරුණු විට, ලෝකයේ පවත්වන අනෙක් දැවැන්තම රූ රැජිණ තරඟය වන්නේ ලෝක රූ රැජිණ තරඟයයි. 1951 වර්ෂයේදී Eric Morley ගේ ප්‍රධානත්වයෙන් ඇරඹූ මෙම තරඟය,ලොව පැරණිතම රූ රැජිණ තරඟයද වෙයි. සාම්ප්‍රදානුකූලව, ලෝක රූ රැජිණක් තම ධූර කාලය තුලදී රැඳී සිටින්නේ, එංගලන්තයේ ලන්ඩන් අගනුවර තුලයි. ලොව ප්‍රකට රූ රැජිණ තේරීමේ තරඟ 4 න් එකක් ලෙසද ලෝක රූ රැජිණ තරඟය නම් දරයි.1951 වසරේදී Eric Morley විසින් ප්‍රථමයෙන්ම මෙම තරඟය හඳුන්වා දෙනු ලැබුවේ, නාන ඇඳුම් තරඟයක් ලෙසයි (Bikini Contest). නමුත් මාධ්‍යයන් හී එය ප්‍රචාරය වූවේ "Miss World" යන නාමයෙනුයි. </p>
        </div>
    </div>
</div>
<div style=" font-size: 100px;color: #000; background: #FFBB3F; text-align: center; z-index: 1000;position: absolute; height: 140px; width: 100%;margin-top: -90px;">
</div>
<!--  Red Weights Block   -->
<div style=" font-size: 100px;color: #461313; background: #FFBB3F; padding: 0px 10px 95px 10px; text-align: center; 
    z-index: 1000;
 ">
    <div class="row">
        <span style=" font-weight:400;">a</span>
        <span style=" font-weight:500;">a</span>
        <span style=" font-weight:600;">a</span>
        <span style=" font-weight:700;">a</span>
        <span style=" font-weight:800;">a</span>
        <span style=" font-weight:800;">අ</span>
        <span style=" font-weight:700;">අ</span>
        <span style=" font-weight:600;">අ</span>
        <span style=" font-weight:500;">අ</span>
        <span style=" font-weight:400;">අ</span>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <p style=" font-weight:600; text-align:left; ">
                පැහැ අන්තර පහක් (5) යටතේ අතුරු මුහුණත් නිර්මාණ ශිල්පීන්ට නිර්මාණවල ගුණාත්මක අගය විවිධාකාර පරාසයන් කරා රැගෙන යා හැකිය. වඩා තද අකුරු සිරස්තල සඳහාද ලා අකුරු සිරස්තලයේ අන්තර්ගතය සඳහාද යොදා ගත හැකිය.ඒ අකුරු මුහුනත් පහම සිංහල, පාලි සහ සංස්කෘත යන භාෂා ත්‍රිත්වය සඳහාම සහයෝගය දක්වයි.
            </p>
        </div>
        <div class="col-md-4 ">
            <p style=" font-weight:600; text-align:left; ">
                Abhaya Libre comes in 5 weights which enables designers to build sophisticated typographic layouts. Lighter weights suites mostly for body text and heavier weights do best in title settings. Each of those weights contains x glyphs that enables clean and precise rendering for Sinhala, Pali and Sanskrit texts.
            </p>
        </div>
    </div>
    <!--  /Red Weights Block   -->
    <div class="container">
        <div class="row">
        </div>
        <div class="row" style=" font-size:26px; margin-top: 60px;">
            <div style="text-align:right;" class="col-md-6">
                <div>
                    <span class="panagram" style="font-weight:400;">
මරණ තුනක් ඇති මිනිසෙක් පැණි කෑය
<br />
</span>
                    <span class="panagram" style="font-weight:500;">මරණ තුනක් ඇති මිනිසෙක් පැණි කෑය
<br />
</span>
                    <span class="panagram" style="font-weight:600;">මරණ තුනක් ඇති මිනිසෙක් පැණි කෑය
<br />
</span>
                    <span class="panagram" style="font-weight:700;">මරණ තුනක් ඇති මිනිසෙක් පැණි කෑය
<br />
</span>
                    <span class="panagram" style="font-weight:800;">මරණ තුනක් ඇති මිනිසෙක් පැණි කෑය
<br />
</span>
                </div>
            </div>
            <div style="text-align:left;" class="col-md-6">
                <div>
                    <span class="panagram" style="font-weight:400;"> Enough to cobble dogs with
<br />
</span>
                    <span class="panagram" style="font-weight:500;"> Enough to cobble dogs with
<br />
</span>
                    <span class="panagram" style="font-weight:600;"> Enough to cobble dogs with
<br />
</span>
                    <span class="panagram" style="font-weight:700;"> Enough to cobble dogs with
                <br />
</span>
                    <span class="panagram" style="font-weight:800;"> Enough to cobble dogs with
<br />
</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style=" font-weight:800; font-size:100px; color:#000 ">FM Abhaya is <br>Abhaya Libre</h1>
            <p style="font-weight: 700;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 10px 0px;
    font-size: 18px;    margin: 15px 0px;
 ">At the present, ‘FM Abhaya’ designed in 1996, is the most widely used Sinhala typeface in all around contexts. FM Abhaya is an interpretation of the earliest Sinhala letterpress typefaces. The name ‘Abhaya’ comes after the King Abhaya (474 BCE to 454 BCE) who reigned Sri Lanka from the ancient kingdom of Upatissa Nuwara (උපතිස්ස නුවර) . The ‘Abhaya Libre’ is the Unicode compliant, complete libre version of the most popular Sinhala typeface on Earth. </p>
        </div>
        <div class=" col-md-6">
            Abhaya Libre comes with a Latin set designed by Sol Matas to match the aesthetics of Abhaya Libre Sinhala. The Latin set was inspired by the style of the original Sinhala, with the notable inherent contrast in between thick and thin strokes, was modified to tally with the visualization logics of Latin typefaces. The ductus references according to the lines of a Didone typeface add some Sinhala forms to certain terminations. After several tests and discussions we agreed on the height for uppercase and lowercase to match harmoniously with Sinhala. The width of each character and its position on the baseline have been carefully designed to get a nice balance between both writing systems. Adding large counters for optimizing on screen viewing and small ascenders and descenders. The project is being led by Mooniak, a collaborative collective of designers based in Colombo, Sri Lanka with the cooperation of Mr. Pushpananda Ekanayake, the creator of the font.
            </p>
            <p>
        </div>
        <div class=" col-md-6">
            ඒ ආර්ජන්ටිනානු ජාතික අකුරු නිර්මාණ ශිල්පිනී සොල් මේට්ස් විසින් නිර්මාණය කරන ලද සිංහල ඌරුවේ ලතින් අකුරුද අභය ලිබරේ අකුරු මුහුණතේ අන්තර්ගතය. ව්‍යාපෘතිය ගූග්ල් සමාගමේ අනුග්‍රහය යටතේ එෆ්එම් අභය අකුරු මෝස්තරයේ නිර්මාණ ශිල්පී පුෂ්පානන්ද ඒකනායක මහතාගේ සහයෝගිත්වය ඇතිව මූනියැක් සමගම විසින් සිදුකරන ලදී. මූනියැක්, නිර්මාණවේදීන්ගේ සහයෝගීත්ව සාමූහිකය, වඩාත් දියුණු ශ්‍රී ලාංකීය ජාතියක් උදෙසා නිර්මානවේදයේ උපයෝගීතාවයන් සොයන අගනුවර ආශ්‍රිත තරුණ ක්‍රියාකාරිකයන් සමූහයකි.
            </p>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class=" col-md-6">
    </div>
</div>
<div style=" margin-bottom: 30px; background: #1FC4DE; z-index: 1000;width: 100%;    padding: 40px 0px;">
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <div class="info"> රේඵය, රකාරාංශය, යංසය හා බැඳී අකුරු ඇතුළුව සියලුම සිංහල අක්ෂර, අභය ලිබ්රේ අකුරු මුහුණතට පෙන්විය හැකිය.. </div>
                <p style='color:#fff; text-align:center; font-size:40px; font-weight:600;' style="font-weight:400;">
                    සීගිරි පර්‍වත මස්තකාරූඪ මනුෂ්‍යයෙකුට සෝදාහරණ සහිත ව හෙළයා ගේ ශෛල, වාරි, ගෘහ නිර්මාණ ශක්‍යතාව ද සෙල්බිතෙහි තැවරූ මඩස්තරයක ඇඳි නාරි චිත්‍රයන් ගෙන් සහ කැටපත්පවුරෙහි ලිඛිත කුරුටු ගීවලින් හෙළයා ගේ සෞන්දර්ය හැකියාව දු මනා සේ දැකගත හැක.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class=" col-md-12">
            <div class="info"> පාලි ලිවීමේදී බැඳි අකුරු නිවැරදිව පෙන්වීමටද අභය ලිබ්රේ අකුරු මුහුණතට හැකිය.
                <br> අකුරු මුහුනත් පහම සිංහල, පාලි සහ සංස්කෘත යන භාෂා ත්‍රිත්වය සඳහාම සහයෝගය දක්වයි.</div>
            <p style='color:#000; text-align:center; font-size:30px; font-weight:800;' style="font-weight:400;">
                නමොතස‍්ස භගවතො අරහතො සම‍්මා සම‍්බුද‍්ධස‍්ස
                <br> නමොතස‍්ස භගවතො අරහතො සම‍්මා සම‍්බුද‍්ධස‍්ස
                <br> නමොතස‍්ස භගවතො අරහතො සම‍්මා සම‍්බුද‍්ධස‍්ස
                <br>
            </p>
            <p style='color:#000; text-align:center; font-size:30px; font-weight:600;' style="font-weight:400;">
                යඤ‍්ච භික‍්ඛවෙ චෙතෙති, යඤ‍්ච පකප‍්පෙති, යඤ‍්ච අනුසෙති, ආරම‍්මණ මෙතං හොති විඤ‍්ඤණස‍්ස ඨීතියා. ආරම‍්මණෙ සති පතිට‍්ඨා විඤ‍්ඤාණස‍්ස හොති. තස‍්මිං පතිට‍්ඨිතෙ විඤ‍්ඤණෙ විරූළ‍්හෙ නාමරූපස‍්ස අවක‍්කන‍්ති හොති, නාමරූප පච‍්චයා සළායතනං, සළායතන පච‍්චයා ඵස‍්සො, ඵස‍්ස පච‍්චයා වෙදනා, වෙදනා පච‍්චයා තණ‍්හා, තණ‍්හා පච‍්චයා උපාදානං, උපාදාන පච‍්චයා භවො, භව පච‍්චයා ජාති, ජාති පච‍්චයා ජරා මරණං, සොක පරිදෙව දුක‍්ඛ දොමනස‍්ස උපායාසා සම‍්භවන‍්ති. ඒව මෙතස‍්ස කෙවලස‍්ස දුක‍්ඛක‍්ඛන්ධස‍්ස සමුදයො හොති
            </p>
        </div>
    </div>
    <div style="margin-top:30px;" class="line-separator"></div>
    <div class="row">
        <div class=" col-md-12">
            <h1 style="text-align:center;font-weight:800;">'ද' අකුරේ අමතර විලාසයන් <br> Alternate Formas of  'Da' </h1>
            <div class="info"> Stylistic Sets හරහා මෙම ද අකුරේ අමතර විලාසයන් ක්‍රියාත්මක කල හැකිය. The Custom compact ‘Da’ forms can be enabled using stylistic sets. </div>
        </div>
        <div class=" col-md-6">
            <p class="ss" style="font-size:30px;font-weight:600;">
                දා දැ දෑ දො දෝ ද්‍ය ද්‍යෙ ද්‍යො ද්‍යෝ
                <br> ඤා ඤැ ඤෑ ඤො ඤෝ
                <br> ඥා ඥැ ඥෑ ඥො ඥෝ
                <br> ඳා ඳැ ඳෑ ඳො ඳෝ
                <br>
            </p>
            <br>
            </p>
        </div>
        <div class=" col-md-6">
            <p style=" -webkit-font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'ss01' 1; font-size:30px;font-weight:600;">
                දා දැ දෑ දො දෝ ද්‍ය ද්‍යෙ ද්‍යො ද්‍යෝ
                <br> ඤා ඤැ ඤෑ ඤො ඤෝ
                <br> ඥා ඥැ ඥෑ ඥො ඥෝ
                <br> ඳා ඳැ ඳෑ ඳො ඳෝ
                <br>
            </p>
        </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
        <div class=" col-md-12">
            <br>
            <br>
            <h1 style="text-align:center;font-weight:800;">පැරණි FM අභය සහ නව අභය ලිබ්රේ සංසන්දනය <br>  FM Abhaya vs Abhaya Libre</h1>
            <div class="info"> යුනිකෝඩ් අනුවර්තන ක්‍රියාවලියේදී, වෙබ්, ටැබ් සහ වඩාත් කුඩා අකුරු මුහුණත් අවශ්‍ය වන ස්මාර්ට් ෆෝන් අතුරු මුහුණත් සඳහා අවශ්‍ය එෆ්එම් අභය අකුරු මුහුණත මුළුමුනින්ම නැවත අඳින ලදී. In the Unicode adaptation process, the FM Abhaya font was completely redrawn from the scratch to suit the modern usages in Web, Tab and smaller sizes for Smartphones. </div>
            <input style="padding:40px 0px;" type="range" id="fonts" name="fonts" min="0" max="1" value="0">
        </div>
    </div>
    <div class="row">
        <div class=" col-md-12">
            <div id="preview" contentEditable="true" style="font-family:MyFont;font-size:30px; ">
                සීගිරි පර්‍වත මස්තකාරූඪ මනුෂ්‍යයෙකුට සෝදාහරණ සහිත ව හෙළයා ගේ ශෛල, වාරි, ගෘහ නිර්මාණ ශක්‍යතාව ද සෙල්බිතෙහි තැවරූ මඩස්තරයක ඇඳි නාරි චිත්‍රයන් ගෙන් සහ කැටපත්පවුරෙහි ලිඛිත කුරුටු ගීවලින් හෙළයා ගේ සෞන්දර්ය හැකියාව දු මනා සේ දැකගත හැක.
            </div>
        </div>
    </div>
</div>
<div style=" margin-top: 60px; z-index: 1000;width: 100%;    padding: 40px 0px;">
    <div id="download" class="container">
        <div class="row">
            <div class=" col-md-3">
                <a class="btn btn-default btn-lg" href='https://github.com/mooniak/abhaya-libre-font/releases/latest'>ලබාගන්න <br>Download Font</a>
            </div>
            <div class=" col-md-3">
                <a class="btn btn-default btn-lg" href='https://www.google.com/fonts/specimen/Abhaya+Libre'>Googel Fonts හරහා <br> Use with Googel Fonts</a>
            </div>
            <div class=" col-md-3">
                <a class="btn btn-default btn-lg" href='https://github.com/mooniak/abhaya-libre-font/issues'>ගැටළු  හා යෝජනා  <br> Report Bugs and Issues</a>
            </div>
            <div class=" col-md-3">
                <a class="btn btn-default btn-lg" href='https://www.youtube.com/playlist?list=PLpw12zH02-An-6i79877NUi_ld3U_4tmv'>ව්‍යාපෘතියේ  වාර්තා <br> Project Documentation</a>
            </div>
        </div>
        <p style="font-weight:800 ;text-align:center; font-size:60px;"> ෴</p>
        {% include footer.html %}
    </div>
    <script>
        $(function () {
            $("#fonts").change(function () {
                //alert($(this).val());
                console.log($("#preview").css("font-family"));
                $("#preview").css("font-family", "MyFont-" + $(this).val());
            });
            $("#text").keypress(function () {
                $("#preview").html($(this).val());
            });
        });
    </script>
    <script src="./js/jquery.fittext.js"></script>
    <script type="text/javascript">
        $("#fittext1").fitText(0.3);
        $("#fittext2").fitText(0.3);
        $("#fittext3").fitText(1, {
            minFontSize: '20px',
            maxFontSize: '32px'
        });
        $("#fittext4").fitText(0.1);
        $("#fittext5").fitText(0.35);
    </script>
    </body>
    </html>