/*
Author - Pathum Egodawatta
Site - mooniak.com
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
		.content {

			padding: 10px;
			}



h3{ font-size: 18px;
    font-weight: 100;}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;

}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body {
margin: 0px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

h1 {
font-size:100px;
}
a{
text-decoration:none;
color:#555;
}
a:hover{
background:#000;
color:#fff;
}
.alphabet {
font-size:70px;

}



.test {
font-size:60px;
text-align:center;
}
.test:hover {
background:#eee;
}

#footer{
font-size: 12px;
}
#footer a{
color:#444;
}
.button{
color:#fff;
background:#000;
font-size:40px;
text-align:center;
border:1px dotted #000;
}
.button a{
color:#fff;
background:#000;
}
.button a:hover{

background:#666;
}
.button:hover{
background:#666;
}
