(
"a-sinh",
"aa-sinh",
"ae-sinh",
"aae-sinh",
"i-sinh",
"ii-sinh",
"u-sinh",
"uu-sinh",
"vocalicr-sinh",
"vocalicrr-sinh",
"vocalicl-sinh",
"vocalicll-sinh",
"e-sinh",
"ee-sinh",
"ai-sinh",
"o-sinh",
"oo-sinh",
"au-sinh",
"ka-sinh",
"kha-sinh",
"ga-sinh",
"gha-sinh",
"nga-sinh",
"nnga-sinh",
"ca-sinh",
"cha-sinh",
"ja-sinh",
"jha-sinh",
"nya-sinh",
"jnya-sinh",
"nyja-sinh",
"tta-sinh",
"ttha-sinh",
"dda-sinh",
"ddha-sinh",
"nna-sinh",
"nndda-sinh",
"ta-sinh",
"tha-sinh",
"da-sinh",
"dha-sinh",
"na-sinh",
"nda-sinh",
"pa-sinh",
"pha-sinh",
"ba-sinh",
"bha-sinh",
"ma-sinh",
"mba-sinh",
"ya-sinh",
"ra-sinh",
"la-sinh",
"va-sinh",
"sha-sinh",
"ssa-sinh",
"sa-sinh",
"ha-sinh",
"lla-sinh",
"fa-sinh",
"kSsa-sinh",
"kVa-sinh",
"tVa-sinh",
"tTha-sinh",
"nDa-sinh",
"nDha-sinh",
"nVa-sinh",
"nTha-sinh",
"gDha-sinh",
"dVa-sinh",
"dDha-sinh",
"ttTtha-sinh",
"nyCa-sinh",
"nyCha-sinh",
"cCa-sinh",
"bBa-sinh",
"aaesign-sinh",
"aesign-sinh",
"aisign-sinh",
"ausign-sinh",
"esign-sinh",
"eesign-sinh",
"isign-sinh",
"iisign-sinh",
"vocalicllsign-sinh",
"vocaliclsign-sinh",
"osign-sinh",
"oosign-sinh",
"vocalicrsign-sinh",
"vocalicrrsign-sinh",
"usign-sinh",
"uusign-sinh",
"usign.rasign-sinh",
"uusign.rasign-sinh",
"virama-sinh",
"rasign-sinh",
"repha-sinh",
"anusvaraya-sinh",
"candrabindu-sinh",
"visargaya-sinh",
"aasign-sinh",
"aasign_virama-sinh",
"touch-sinh",
"k-sinh",
"kh-sinh",
"g-sinh",
"gh-sinh",
"ng-sinh",
"nng-sinh",
"c-sinh",
"ch-sinh",
"j-sinh",
"jh-sinh",
"ny-sinh",
"jny-sinh",
"nyj-sinh",
"tt-sinh",
"tth-sinh",
"dd-sinh",
"ddh-sinh",
"nn-sinh",
"nndd-sinh",
"t-sinh",
"th-sinh",
"d-sinh",
"dh-sinh",
"n-sinh",
"nd-sinh",
"p-sinh",
"ph-sinh",
"b-sinh",
"bh-sinh",
"m-sinh",
"mb-sinh",
"y-sinh",
"r-sinh",
"l-sinh",
"v-sinh",
"sh-sinh",
"ss-sinh",
"s-sinh",
"h-sinh",
"ll-sinh",
"f-sinh",
"kSs-sinh",
"kV-sinh",
"tV-sinh",
"tTh-sinh",
"nD-sinh",
"nDh-sinh",
"nV-sinh",
"nTh-sinh",
"gDh-sinh",
"dV-sinh",
"dDh-sinh",
"ttTth-sinh",
"nyC-sinh",
"nyCh-sinh",
"cC-sinh",
"bB-sinh",
"kI-sinh",
"khI-sinh",
"gI-sinh",
"ghI-sinh",
"ngI-sinh",
"nngI-sinh",
"cI-sinh",
"chI-sinh",
"jI-sinh",
"jhI-sinh",
"nyI-sinh",
"jnyI-sinh",
"nyjI-sinh",
"ttI-sinh",
"tthI-sinh",
"ddI-sinh",
"ddhI-sinh",
"nnI-sinh",
"nnddI-sinh",
"tI-sinh",
"thI-sinh",
"dI-sinh",
"dhI-sinh",
"nI-sinh",
"ndI-sinh",
"pI-sinh",
"phI-sinh",
"bI-sinh",
"bhI-sinh",
"mI-sinh",
"mbI-sinh",
"yI-sinh",
"rI-sinh",
"lI-sinh",
"vI-sinh",
"shI-sinh",
"ssI-sinh",
"sI-sinh",
"hI-sinh",
"llI-sinh",
"fI-sinh",
"kSsI-sinh",
"kVI-sinh",
"tVI-sinh",
"tThI-sinh",
"nDI-sinh",
"nDhI-sinh",
"nVI-sinh",
"nThI-sinh",
"gDhI-sinh",
"dVI-sinh",
"dDhI-sinh",
"ttTthI-sinh",
"nyCI-sinh",
"nyChI-sinh",
"cCI-sinh",
"bBI-sinh",
"kIi-sinh",
"khIi-sinh",
"gIi-sinh",
"ghIi-sinh",
"ngIi-sinh",
"nngIi-sinh",
"cIi-sinh",
"chIi-sinh",
"jIi-sinh",
"jhIi-sinh",
"nyIi-sinh",
"jnyIi-sinh",
"nyjIi-sinh",
"ttIi-sinh",
"tthIi-sinh",
"ddIi-sinh",
"ddhIi-sinh",
"nnIi-sinh",
"nnddIi-sinh",
"tIi-sinh",
"thIi-sinh",
"dIi-sinh",
"dhIi-sinh",
"nIi-sinh",
"ndIi-sinh",
"pIi-sinh",
"phIi-sinh",
"bIi-sinh",
"bhIi-sinh",
"mIi-sinh",
"mbIi-sinh",
"yIi-sinh",
"rIi-sinh",
"lIi-sinh",
"vIi-sinh",
"shIi-sinh",
"ssIi-sinh",
"sIi-sinh",
"hIi-sinh",
"llIi-sinh",
"fIi-sinh",
"kSsIi-sinh",
"kVIi-sinh",
"tVIi-sinh",
"tThIi-sinh",
"nDIi-sinh",
"nDhIi-sinh",
"nVIi-sinh",
"nThIi-sinh",
"gDhIi-sinh",
"dVIi-sinh",
"dDhIi-sinh",
"ttTthIi-sinh",
"nyCIi-sinh",
"nyChIi-sinh",
"cCIi-sinh",
"bBIi-sinh",
"kU-sinh",
"khU-sinh",
"gU-sinh",
"ghU-sinh",
"nngU-sinh",
"cU-sinh",
"chU-sinh",
"jU-sinh",
"jhU-sinh",
"nyU-sinh",
"jnyU-sinh",
"nyjU-sinh",
"ttU-sinh",
"tthU-sinh",
"ddU-sinh",
"ddhU-sinh",
"nnU-sinh",
"nnddU-sinh",
"tU-sinh",
"thU-sinh",
"dU-sinh",
"dhU-sinh",
"nU-sinh",
"ndU-sinh",
"pU-sinh",
"phU-sinh",
"bU-sinh",
"bhU-sinh",
"mU-sinh",
"mbU-sinh",
"yU-sinh",
"rU-sinh",
"lU-sinh",
"vU-sinh",
"shU-sinh",
"ssU-sinh",
"sU-sinh",
"hU-sinh",
"llU-sinh",
"fU-sinh",
"kSsU-sinh",
"kVU-sinh",
"tVU-sinh",
"tThU-sinh",
"nDU-sinh",
"nDhU-sinh",
"nVU-sinh",
"nThU-sinh",
"gDhU-sinh",
"dVU-sinh",
"dDhU-sinh",
"ttTthU-sinh",
"nyCU-sinh",
"nyChU-sinh",
"cCU-sinh",
"bBU-sinh",
"kUu-sinh",
"khUu-sinh",
"gUu-sinh",
"ghUu-sinh",
"nngUu-sinh",
"cUu-sinh",
"chUu-sinh",
"jUu-sinh",
"jhUu-sinh",
"nyUu-sinh",
"jnyUu-sinh",
"nyjUu-sinh",
"ttUu-sinh",
"tthUu-sinh",
"ddUu-sinh",
"ddhUu-sinh",
"nnUu-sinh",
"nnddUu-sinh",
"tUu-sinh",
"thUu-sinh",
"dUu-sinh",
"dhUu-sinh",
"nUu-sinh",
"ndUu-sinh",
"pUu-sinh",
"phUu-sinh",
"bUu-sinh",
"bhUu-sinh",
"mUu-sinh",
"mbUu-sinh",
"yUu-sinh",
"rUu-sinh",
"lUu-sinh",
"vUu-sinh",
"shUu-sinh",
"ssUu-sinh",
"sUu-sinh",
"hUu-sinh",
"llUu-sinh",
"fUu-sinh",
"kSsUu-sinh",
"kVUu-sinh",
"tVUu-sinh",
"tThUu-sinh",
"nDUu-sinh",
"nDhUu-sinh",
"nVUu-sinh",
"nThUu-sinh",
"gDhUu-sinh",
"dVUu-sinh",
"dDhUu-sinh",
"ttTthUu-sinh",
"nyCUu-sinh",
"nyChUu-sinh",
"cCUu-sinh",
"bBUu-sinh",
"rAe-sinh",
"rAae-sinh",
"kRa-sinh",
"khRa-sinh",
"gRa-sinh",
"ghRa-sinh",
"cRa-sinh",
"jRa-sinh",
"jhRa-sinh",
"nyRa-sinh",
"jnyRa-sinh",
"nyjRa-sinh",
"ttRa-sinh",
"ddRa-sinh",
"tRa-sinh",
"dRa-sinh",
"dhRa-sinh",
"ndRa-sinh",
"pRa-sinh",
"bRa-sinh",
"bhRa-sinh",
"mRa-sinh",
"vRa-sinh",
"shRa-sinh",
"ssRa-sinh",
"sRa-sinh",
"hRa-sinh",
"fRa-sinh",
"nDRa-sinh",
"kR-sinh",
"khR-sinh",
"gR-sinh",
"ghR-sinh",
"cR-sinh",
"jR-sinh",
"jhR-sinh",
"nyR-sinh",
"jnyR-sinh",
"nyjR-sinh",
"ttR-sinh",
"ddR-sinh",
"tR-sinh",
"dR-sinh",
"dhR-sinh",
"pR-sinh",
"bR-sinh",
"bhR-sinh",
"mR-sinh",
"vR-sinh",
"shR-sinh",
"ssR-sinh",
"sR-sinh",
"hR-sinh",
"fR-sinh",
"kRI-sinh",
"khRI-sinh",
"gRI-sinh",
"ghRI-sinh",
"cRI-sinh",
"jRI-sinh",
"jhRI-sinh",
"nyRI-sinh",
"jnyRI-sinh",
"ttRI-sinh",
"ddRI-sinh",
"tRI-sinh",
"dRI-sinh",
"dhRI-sinh",
"pRI-sinh",
"bRI-sinh",
"bhRI-sinh",
"mRI-sinh",
"vRI-sinh",
"shRI-sinh",
"ssRI-sinh",
"sRI-sinh",
"hRI-sinh",
"fRI-sinh",
"nDRI-sinh",
"kRIi-sinh",
"khRIi-sinh",
"gRIi-sinh",
"ghRIi-sinh",
"cRIi-sinh",
"jRIi-sinh",
"jhRIi-sinh",
"nyRIi-sinh",
"jnyRIi-sinh",
"ttRIi-sinh",
"ddRIi-sinh",
"tRIi-sinh",
"dRIi-sinh",
"dhRIi-sinh",
"pRIi-sinh",
"bRIi-sinh",
"bhRIi-sinh",
"mRIi-sinh",
"vRIi-sinh",
"shRIi-sinh",
"ssRIi-sinh",
"sRIi-sinh",
"hRIi-sinh",
"fRIi-sinh",
"nDRIi-sinh",
"ka_repha-sinh",
"kha_repha-sinh",
"ga_repha-sinh",
"gha_repha-sinh",
"nga_repha-sinh",
"nnga_repha-sinh",
"ca_repha-sinh",
"cha_repha-sinh",
"ja_repha-sinh",
"jha_repha-sinh",
"nya_repha-sinh",
"jnya_repha-sinh",
"nyja_repha-sinh",
"tta_repha-sinh",
"ttha_repha-sinh",
"dda_repha-sinh",
"ddha_repha-sinh",
"nna_repha-sinh",
"nndda_repha-sinh",
"ta_repha-sinh",
"tha_repha-sinh",
"da_repha-sinh",
"dha_repha-sinh",
"na_repha-sinh",
"nda_repha-sinh",
"pa_repha-sinh",
"pha_repha-sinh",
"ba_repha-sinh",
"bha_repha-sinh",
"ma_repha-sinh",
"mba_repha-sinh",
"ya_repha-sinh",
"ra_repha-sinh",
"la_repha-sinh",
"va_repha-sinh",
"sha_repha-sinh",
"ssa_repha-sinh",
"sa_repha-sinh",
"ha_repha-sinh",
"lla_repha-sinh",
"fa_repha-sinh",
"kSsa_repha-sinh",
"kVa_repha-sinh",
"tVa_repha-sinh",
"tTha_repha-sinh",
"nDa_repha-sinh",
"nDha_repha-sinh",
"nVa_repha-sinh",
"nTha_repha-sinh",
"gDha_repha-sinh",
"dVa_repha-sinh",
"dDha_repha-sinh",
"ttTtha_repha-sinh",
"nyCa_repha-sinh",
"nyCha_repha-sinh",
"cCa_repha-sinh",
"bBa_repha-sinh",
"yasign_isign-sinh",
"yasign_iisign-sinh",
"yasign_repha-sinh",
"yasign-sinh",
"yasign_repha_aasign-sinh",
"yasign_uusign-sinh",
"yasign_usign-sinh",
"yasign_repha_usign-sinh",
"yasign_repha_uusign-sinh",
"yasign_virama-sinh",
"dae._c-sinh",
"daae._c-sinh",
"daa._c-sinh",
"dvocalicr._c-sinh",
"dvocalicrr._c-sinh",
"dya._c-sinh",
"dyaa._c-sinh",
"dyU._c-sinh",
"da_yansa_oosign-sinh",
"dyUu._c-sinh",
"ndae._c-sinh",
"ndaa._c-sinh",
"ndaae._c-sinh",
"jnyae._c-sinh",
"jnyaae._c-sinh",
"jnyaa._c-sinh",
"nyae._c-sinh",
"nyaae._c-sinh",
"nyaa._c-sinh",
"nDaa._c-sinh",
"nDaae._c-sinh",
"nDae._c-sinh",
"daa_virama._c-sinh",
"ndaa_virama._c-sinh",
"jnyaa_virama._c-sinh",
"nyaa_virama._c-sinh",
"nDaa_virama._c-sinh",
"dRaa._c-sinh",
"ndRaa._c-sinh",
"anusvarayaSha-sinh",
"anusvarayaShI-sinh",
"anusvarayaSh-sinh",
"anusvarayaShIi-sinh",
"anusvarayaShU-sinh",
"anusvarayaShUu-sinh",
"archaicone-sinh",
"archaictwo-sinh",
"archaicthree-sinh",
"archaicfour-sinh",
"archaicfive-sinh",
"archaicsix-sinh",
"archaicseven-sinh",
"archaiceight-sinh",
"archaicnine-sinh",
"archaicten-sinh",
"archaictwenty-sinh",
"archaicthirty-sinh",
"archaicforty-sinh",
"archaicfifty-sinh",
"archaicsixty-sinh",
"archaicseventy-sinh",
"archaiceighty-sinh",
"archaicninety-sinh",
"archaiconehundred-sinh",
"archaiconethousand-sinh",
"candrabindu-sinh.001",
"repha-sinh.001",
"repha-sinh.002",
"repha-sinh.003",
"repha-sinh.004",
"repha-sinh.005",
"repha-sinh.006",
"repha-sinh.007",
"repha-sinh.008",
"repha-sinh.009",
"repha-sinh.010",
"f-sinh.hist",
"fI-sinh.hist",
"fIi-sinh.hist",
"fR-sinh.hist",
"fRI-sinh.hist",
"fRIi-sinh.hist",
"fRa-sinh.hist",
"fa_repha-sinh.hist",
"fa-sinh.hist",
"fU-sinh.hist",
"fUu-sinh.hist",
"a-taml",
"aa-taml",
"i-taml",
"ii-taml",
"u-taml",
"uu-taml",
"e-taml",
"ee-taml",
"ai-taml",
"o-taml",
"oo-taml",
"au-taml",
"ka-taml",
"nga-taml",
"ca-taml",
"ja-taml",
"nya-taml",
"tta-taml",
"nna-taml",
"ta-taml",
"na-taml",
"nna2-taml",
"pa-taml",
"ma-taml",
"ya-taml",
"ra-taml",
"rra-taml",
"la-taml",
"lla-taml",
"zha-taml",
"va-taml",
"sha-taml",
"ssa-taml",
"sa-taml",
"ha-taml",
"om-taml",
"visargaya-taml",
"ten-taml",
"hundred-taml",
"thousand-taml",
"zero-taml",
"one-taml",
"two-taml",
"three-taml",
"four-taml",
"five-taml",
"six-taml",
"seven-taml",
"eight-taml",
"nine-taml",
"signday-taml",
"signmonth-taml",
"signyear-taml",
"signdebit-taml",
"signcredit-taml",
"signasabove-taml",
"signnumber-taml",
"indianrupee-taml",
"iisign-taml",
"virama-taml",
"anusvaraya-taml",
"aasign-taml",
"isign-taml",
"usign-taml",
"uusign-taml",
"esign-taml",
"eesign-taml",
"aisign-taml",
"osign-taml",
"oosign-taml",
"ausign-taml",
"aulengthmark-taml",
"cI-taml",
"cIi-taml",
"cU-taml",
"cUu-taml",
"hI-taml",
"hIi-taml",
"hU-taml",
"hUu-taml",
"jI-taml",
"jIi-taml",
"jU-taml",
"jUu-taml",
"kI-taml",
"kIi-taml",
"kU-taml",
"kUu-taml",
"kSsI-taml",
"kSsIi-taml",
"kSsa-taml",
"kSsU-taml",
"kSsUu-taml",
"lAi-taml",
"lI-taml",
"lIi-taml",
"lU-taml",
"lUu-taml",
"llAi-taml",
"llI-taml",
"llIi-taml",
"llU-taml",
"llUu-taml",
"mI-taml",
"mIi-taml",
"mU-taml",
"mUu-taml",
"nI-taml",
"nIi-taml",
"nU-taml",
"nUu-taml",
"ngI-taml",
"ngIi-taml",
"ngUu-taml",
"nnAa-taml",
"nnAi-taml",
"nnI-taml",
"nnIi-taml",
"nnU-taml",
"nnUu-taml",
"nna2-aa-taml",
"nna2-ai-taml",
"nna2-i-taml",
"nna2-ii-taml",
"nna2-u-taml",
"nna2-uu-taml",
"nyI-taml",
"nyIi-taml",
"nyU-taml",
"nyUu-taml",
"pI-taml",
"pIi-taml",
"pU-taml",
"pUu-taml",
"rI-taml",
"rIi-taml",
"rU-taml",
"rUu-taml",
"rrAa-taml",
"rrI-taml",
"rrIi-taml",
"rrU-taml",
"rrUu-taml",
"sI-taml",
"sIi-taml",
"sU-taml",
"shI-taml",
"shIi-taml",
"shree-taml",
"ssI-taml",
"ssIi-taml",
"ssU-taml",
"ssUu-taml",
"tI-taml",
"tIi-taml",
"tU-taml",
"tUu-taml",
"ttI-taml",
"ttIi-taml",
"ttU-taml",
"ttUu-taml",
"vI-taml",
"vIi-taml",
"vUu-taml",
"yI-taml",
"yIi-taml",
"yUu-taml",
"zhI-taml",
"zhIi-taml",
"zhU-taml",
"zhUu-taml",
"aisign-taml.alt",
"isign.alt1-taml",
"isign.alt2-taml",
"isign.alt3-taml",
"isign.alt4-taml",
"isign.alt5-taml",
"isign.alt6-taml",
"isign.alt7-taml",
"iisign.alt-taml",
"iisign.alt1-taml",
"usign.alt1-taml",
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
h,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
j,
k,
l,
lacute,
lcaron,
lslash,
m,
n,
nacute,
ncaron,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
s,
sacute,
scaron,
germandbls,
t,
tcaron,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uni0123,
uni0137,
uni013C,
uni0146,
uni0157,
uni015F,
uni0163,
uni0219,
uni021B,
uogonek,
uring,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
f_f,
f_f_i,
f_f_l,
fi,
fl,
ordfeminine,
ordmasculine,
pi,
sinEight_Zerolith,
sinFive_Zerolith,
sinFour_Zerolith,
sinNine_Zerolith,
sinOne_Zerolith,
sinSeven_Zerolith,
sinSix_Zerolith,
sinThree_Zerolith,
sinTwo_Zerolith,
sinZerolith,
sinOnelith,
sinTwolith,
sinThreelith,
sinFourlith,
sinFivelith,
sinSixlith,
sinSevenlith,
sinEightlith,
sinNinelith,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
space,
nbspace,
zerowidthnonjoiner,
zerowidthjoiner,
.notdef,
CR,
NULL,
uni0964,
uni0965,
sinKundaliya,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
short_dash2,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
uni2113,
daggerdbl,
estimated,
Euro,
cent,
currency,
dollar,
ruble,
rupeeIndian,
sterling,
uni20BA,
yen,
bulletoperator,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
uni00B5,
percent,
perthousand,
dottedCircle,
lozenge,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
uni02C9,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
commaaccent,
czechcaron,
mooniak,
vertical_stem_upper
)