(
"a-sinh",
"aa-sinh",
"ae-sinh",
"aae-sinh",
"i-sinh",
"ii-sinh",
"u-sinh",
"uu-sinh",
"vocalicR-sinh",
"vocalicRr-sinh",
"vocalicL-sinh",
"vocalicLl-sinh",
"e-sinh",
"ee-sinh",
"ai-sinh",
"o-sinh",
"oo-sinh",
"au-sinh",
"ka-sinh",
"kha-sinh",
"ga-sinh",
"gha-sinh",
"nga-sinh",
"ngga-sinh",
"ca-sinh",
"cha-sinh",
"ja-sinh",
"jha-sinh",
"nya-sinh",
"jnya-sinh",
"nyja-sinh",
"tta-sinh",
"ttha-sinh",
"dda-sinh",
"ddha-sinh",
"nna-sinh",
"nndda-sinh",
"ta-sinh",
"tha-sinh",
"da-sinh",
"dha-sinh",
"na-sinh",
"nda-sinh",
"pa-sinh",
"pha-sinh",
"ba-sinh",
"bha-sinh",
"ma-sinh",
"mba-sinh",
"ya-sinh",
"ra-sinh",
"la-sinh",
"va-sinh",
"sha-sinh",
"ssa-sinh",
"sa-sinh",
"ha-sinh",
"lla-sinh",
"fa-sinh",
"fPa-sinh",
"ka_ssa-sinh",
"ka_va-sinh",
"ta_va-sinh",
"ta_tha-sinh",
"na_da-sinh",
"na_dha-sinh",
"na_va-sinh",
"na_tha-sinh",
"ga_dha-sinh",
"da_va-sinh",
"da_dha-sinh",
"tta_ttha-sinh",
"nya_ca-sinh",
"nya_cha-sinh",
"ca_ca-sinh",
"ba_ba-sinh",
"aae-sign-sinh",
"ae-sign-sinh",
"ai-sign-sinh",
"au-sign-sinh",
"e-sign-sinh",
"ee-sign-sinh",
"i-sign-sinh",
"ii-sign-sinh",
"vocalicLl-sign-sinh",
"vocalicL-sign-sinh",
"o-sign-sinh",
"oo-sign-sinh",
"vocalicR-sign-sinh",
"vocalicRr-sign-sinh",
"u-sign-sinh",
"uu-sign-sinh",
"u-sign.sub-sinh",
"uu-sign.sub-sinh",
"al-sign-sinh",
"rakar-sign-sinh",
"repha-sign-sinh",
"anusvara-sinh",
"candrabindu-sinh",
"visarga-sinh",
"aa-sign-sinh",
"aa-sign.al-sinh",
"touch-sinh",
"ka-al-sinh",
"kha-al-sinh",
"ga-al-sinh",
"gha-al-sinh",
"nga-al-sinh",
"ngga-al-sinh",
"ca-al-sinh",
"cha-al-sinh",
"ja-al-sinh",
"jha-al-sinh",
"nya-al-sinh",
"jnya-al-sinh",
"nyja-al-sinh",
"tta-al-sinh",
"ttha-al-sinh",
"dda-al-sinh",
"ddha-al-sinh",
"nna-al-sinh",
"nndda-al-sinh",
"ta-al-sinh",
"tha-al-sinh",
"da-al-sinh",
"dha-al-sinh",
"na-al-sinh",
"nda-al-sinh",
"pa-al-sinh",
"pha-al-sinh",
"ba-al-sinh",
"bha-al-sinh",
"ma-al-sinh",
"mba-al-sinh",
"ya-al-sinh",
"ra-al-sinh",
"la-al-sinh",
"va-al-sinh",
"sha-al-sinh",
"ssa-al-sinh",
"sa-al-sinh",
"ha-al-sinh",
"lla-al-sinh",
"fa-al-sinh",
"fPa-al-sinh",
"ka_ssa-al-sinh",
"ka_va-al-sinh",
"ta_va-al-sinh",
"ta_tha-al-sinh",
"na_da-al-sinh",
"na_dha-al-sinh",
"na_va-al-sinh",
"na_tha-al-sinh",
"ga_dha-al-sinh",
"da_va-al-sinh",
"da_dha-al-sinh",
"tta_ttha-al-sinh",
"nya_ca-al-sinh",
"nya_cha-al-sinh",
"ca_ca-al-sinh",
"ba_ba-al-sinh",
"ka-i-sinh",
"kha-i-sinh",
"ga-i-sinh",
"gha-i-sinh",
"nga-i-sinh",
"ngga-i-sinh",
"ca-i-sinh",
"cha-i-sinh",
"ja-i-sinh",
"jha-i-sinh",
"nya-i-sinh",
"jnya-i-sinh",
"nyja-i-sinh",
"tta-i-sinh",
"ttha-i-sinh",
"dda-i-sinh",
"ddha-i-sinh",
"nna-i-sinh",
"nndda-i-sinh",
"ta-i-sinh",
"tha-i-sinh",
"da-i-sinh",
"dha-i-sinh",
"na-i-sinh",
"nda-i-sinh",
"pa-i-sinh",
"pha-i-sinh",
"ba-i-sinh",
"bha-i-sinh",
"ma-i-sinh",
"mba-i-sinh",
"ya-i-sinh",
"ra-i-sinh",
"la-i-sinh",
"va-i-sinh",
"sha-i-sinh",
"ssa-i-sinh",
"sa-i-sinh",
"ha-i-sinh",
"lla-i-sinh",
"fa-i-sinh",
"fPa-i-sinh",
"ka_ssa-i-sinh",
"ka_va-i-sinh",
"ta_va-i-sinh",
"ta_tha-i-sinh",
"na_da-i-sinh",
"na_dha-i-sinh",
"na_va-i-sinh",
"na_tha-i-sinh",
"ga_dha-i-sinh",
"da_va-i-sinh",
"da_dha-i-sinh",
"tta_ttha-i-sinh",
"nya_ca-i-sinh",
"nya_cha-i-sinh",
"ca_ca-i-sinh",
"ba_ba-i-sinh",
"ka-ii-sinh",
"kha-ii-sinh",
"ga-ii-sinh",
"gha-ii-sinh",
"nga-ii-sinh",
"ngga-ii-sinh",
"ca-ii-sinh",
"cha-ii-sinh",
"ja-ii-sinh",
"jha-ii-sinh",
"nya-ii-sinh",
"jnya-ii-sinh",
"nyja-ii-sinh",
"tta-ii-sinh",
"ttha-ii-sinh",
"dda-ii-sinh",
"ddha-ii-sinh",
"nna-ii-sinh",
"nndda-ii-sinh",
"ta-ii-sinh",
"tha-ii-sinh",
"da-ii-sinh",
"dha-ii-sinh",
"na-ii-sinh",
"nda-ii-sinh",
"pa-ii-sinh",
"pha-ii-sinh",
"ba-ii-sinh",
"bha-ii-sinh",
"ma-ii-sinh",
"mba-ii-sinh",
"ya-ii-sinh",
"ra-ii-sinh",
"la-ii-sinh",
"va-ii-sinh",
"sha-ii-sinh",
"ssa-ii-sinh",
"sa-ii-sinh",
"ha-ii-sinh",
"lla-ii-sinh",
"fa-ii-sinh",
"fPa-ii-sinh",
"ka_ssa-ii-sinh",
"ka_va-ii-sinh",
"ta_va-ii-sinh",
"ta_tha-ii-sinh",
"na_da-ii-sinh",
"na_dha-ii-sinh",
"na_va-ii-sinh",
"na_tha-ii-sinh",
"ga_dha-ii-sinh",
"da_va-ii-sinh",
"da_dha-ii-sinh",
"tta_ttha-ii-sinh",
"nya_ca-ii-sinh",
"nya_cha-ii-sinh",
"ca_ca-ii-sinh",
"ba_ba-ii-sinh",
"ka-u-sinh",
"kha-u-sinh",
"ga-u-sinh",
"gha-u-sinh",
"ngga-u-sinh",
"ca-u-sinh",
"cha-u-sinh",
"ja-u-sinh",
"jha-u-sinh",
"nya-u-sinh",
"jnya-u-sinh",
"nyja-u-sinh",
"tta-u-sinh",
"ttha-u-sinh",
"dda-u-sinh",
"ddha-u-sinh",
"nna-u-sinh",
"nndda-u-sinh",
"ta-u-sinh",
"tha-u-sinh",
"da-u-sinh",
"dha-u-sinh",
"na-u-sinh",
"nda-u-sinh",
"pa-u-sinh",
"pha-u-sinh",
"ba-u-sinh",
"bha-u-sinh",
"ma-u-sinh",
"mba-u-sinh",
"ya-u-sinh",
"ra-u-sinh",
"la-u-sinh",
"va-u-sinh",
"sha-u-sinh",
"ssa-u-sinh",
"sa-u-sinh",
"ha-u-sinh",
"lla-u-sinh",
"fa-u-sinh",
"fPa-u-sinh",
"ka_ssa-u-sinh",
"ka_va-u-sinh",
"ta_va-u-sinh",
"ta_tha-u-sinh",
"na_da-u-sinh",
"na_dha-u-sinh",
"na_va-u-sinh",
"na_tha-u-sinh",
"ga_dha-u-sinh",
"da_va-u-sinh",
"da_dha-u-sinh",
"tta_ttha-u-sinh",
"nya_ca-u-sinh",
"nya_cha-u-sinh",
"ca_ca-u-sinh",
"ba_ba-u-sinh",
"ka-uu-sinh",
"kha-uu-sinh",
"ga-uu-sinh",
"gha-uu-sinh",
"ngga-uu-sinh",
"ca-uu-sinh",
"cha-uu-sinh",
"ja-uu-sinh",
"jha-uu-sinh",
"nya-uu-sinh",
"jnya-uu-sinh",
"nyja-uu-sinh",
"tta-uu-sinh",
"ttha-uu-sinh",
"dda-uu-sinh",
"ddha-uu-sinh",
"nna-uu-sinh",
"nndda-uu-sinh",
"ta-uu-sinh",
"tha-uu-sinh",
"da-uu-sinh",
"dha-uu-sinh",
"na-uu-sinh",
"nda-uu-sinh",
"pa-uu-sinh",
"pha-uu-sinh",
"ba-uu-sinh",
"bha-uu-sinh",
"ma-uu-sinh",
"mba-uu-sinh",
"ya-uu-sinh",
"ra-uu-sinh",
"la-uu-sinh",
"va-uu-sinh",
"sha-uu-sinh",
"ssa-uu-sinh",
"sa-uu-sinh",
"ha-uu-sinh",
"lla-uu-sinh",
"fa-uu-sinh",
"fPa-uu-sinh",
"ka_ssa-uu-sinh",
"ka_va-uu-sinh",
"ta_va-uu-sinh",
"ta_tha-uu-sinh",
"na_da-uu-sinh",
"na_dha-uu-sinh",
"na_va-uu-sinh",
"na_tha-uu-sinh",
"ga_dha-uu-sinh",
"da_va-uu-sinh",
"da_dha-uu-sinh",
"tta_ttha-uu-sinh",
"nya_ca-uu-sinh",
"nya_cha-uu-sinh",
"ca_ca-uu-sinh",
"ba_ba-uu-sinh",
"ra-ae-sign-sinh",
"ra-aae-sign-sinh",
"ka-rakar-sinh",
"kha-rakar-sinh",
"ga-rakar-sinh",
"gha-rakar-sinh",
"ca-rakar-sinh",
"ja-rakar-sinh",
"jha-rakar-sinh",
"nya-rakar-sinh",
"jnya-rakar-sinh",
"nyja-rakar-sinh",
"tta-rakar-sinh",
"dda-rakar-sinh",
"ta-rakar-sinh",
"da-rakar-sinh",
"dha-rakar-sinh",
"nda-rakar-sinh",
"pa-rakar-sinh",
"ba-rakar-sinh",
"bha-rakar-sinh",
"ma-rakar-sinh",
"va-rakar-sinh",
"sha-rakar-sinh",
"ssa-rakar-sinh",
"sa-rakar-sinh",
"ha-rakar-sinh",
"fa-rakar-sinh",
"fPa-rakar-sinh",
"na_da-rakar-sinh",
"ka-rakar-al-sinh",
"kha-rakar-al-sinh",
"ga-rakar-al-sinh",
"gha-rakar-al-sinh",
"ca-rakar-al-sinh",
"ja-rakar-al-sinh",
"jha-rakar-al-sinh",
"nya-rakar-al-sinh",
"jnya-rakar-al-sinh",
"nyja-rakar-al-sinh",
"tta-rakar-al-sinh",
"dda-rakar-al-sinh",
"ta-rakar-al-sinh",
"da-rakar-al-sinh",
"dha-rakar-al-sinh",
"pa-rakar-al-sinh",
"ba-rakar-al-sinh",
"bha-rakar-al-sinh",
"ma-rakar-al-sinh",
"va-rakar-al-sinh",
"sha-rakar-al-sinh",
"ssa-rakar-al-sinh",
"sa-rakar-al-sinh",
"ha-rakar-al-sinh",
"fa-rakar-al-sinh",
"fPa-rakar-al-sinh",
"ka-rakar-i-sinh",
"kha-rakar-i-sinh",
"ga-rakar-i-sinh",
"gha-rakar-i-sinh",
"ca-rakar-i-sinh",
"ja-rakar-i-sinh",
"jha-rakar-i-sinh",
"nya-rakar-i-sinh",
"jnya-rakar-i-sinh",
"tta-rakar-i-sinh",
"dda-rakar-i-sinh",
"ta-rakar-i-sinh",
"da-rakar-i-sinh",
"dha-rakar-i-sinh",
"pa-rakar-i-sinh",
"ba-rakar-i-sinh",
"bha-rakar-i-sinh",
"ma-rakar-i-sinh",
"va-rakar-i-sinh",
"sha-rakar-i-sinh",
"ssa-rakar-i-sinh",
"sa-rakar-i-sinh",
"ha-rakar-i-sinh",
"fa-rakar-i-sinh",
"fPa-rakar-i-sinh",
"na_da-rakar-i-sinh",
"ka-rakar-ii-sinh",
"kha-rakar-ii-sinh",
"ga-rakar-ii-sinh",
"gha-rakar-ii-sinh",
"ca-rakar-ii-sinh",
"ja-rakar-ii-sinh",
"jha-rakar-ii-sinh",
"nya-rakar-ii-sinh",
"jnya-rakar-ii-sinh",
"tta-rakar-ii-sinh",
"dda-rakar-ii-sinh",
"ta-rakar-ii-sinh",
"da-rakar-ii-sinh",
"dha-rakar-ii-sinh",
"pa-rakar-ii-sinh",
"ba-rakar-ii-sinh",
"bha-rakar-ii-sinh",
"ma-rakar-ii-sinh",
"va-rakar-ii-sinh",
"sha-rakar-ii-sinh",
"ssa-rakar-ii-sinh",
"sa-rakar-ii-sinh",
"ha-rakar-ii-sinh",
"fa-rakar-ii-sinh",
"fPa-rakar-ii-sinh",
"na_da-rakar-ii-sinh",
"ka-repha-sinh",
"kha-repha-sinh",
"ga-repha-sinh",
"gha-repha-sinh",
"nga-repha-sinh",
"ngga-repha-sinh",
"ca-repha-sinh",
"cha-repha-sinh",
"ja-repha-sinh",
"jha-repha-sinh",
"nya-repha-sinh",
"jnya-repha-sinh",
"nyja-repha-sinh",
"tta-repha-sinh",
"ttha-repha-sinh",
"dda-repha-sinh",
"ddha-repha-sinh",
"nna-repha-sinh",
"nndda-repha-sinh",
"ta-repha-sinh",
"tha-repha-sinh",
"da-repha-sinh",
"dha-repha-sinh",
"na-repha-sinh",
"nda-repha-sinh",
"pa-repha-sinh",
"pha-repha-sinh",
"ba-repha-sinh",
"bha-repha-sinh",
"ma-repha-sinh",
"mba-repha-sinh",
"ya-repha-sinh",
"ra-repha-sinh",
"la-repha-sinh",
"va-repha-sinh",
"sha-repha-sinh",
"ssa-repha-sinh",
"sa-repha-sinh",
"ha-repha-sinh",
"lla-repha-sinh",
"fa-repha-sinh",
"fPa-repha-sinh",
"ka_ssa-repha-sinh",
"ka_va-repha-sinh",
"ta_va-repha-sinh",
"ta_tha-repha-sinh",
"na_da-repha-sinh",
"na_dha-repha-sinh",
"na_va-repha-sinh",
"na_tha-repha-sinh",
"ga_dha-repha-sinh",
"da_va-repha-sinh",
"da_dha-repha-sinh",
"tta_ttha-repha-sinh",
"nya_ca-repha-sinh",
"nya_cha-repha-sinh",
"ca_ca-repha-sinh",
"ba_ba-repha-sinh",
"yansa-sign.i-sinh",
"yansa-sign.ii-sinh",
"yansa-sign.repha-sinh",
"yansa-sign-sinh",
"yansa-sign-repha-aa-sinh",
"yansa-sign-uu-sinh",
"yansa-sign-u-sinh",
"yansa-sign-repha-u-sinh",
"yansa-sign-repha-uu-sinh",
"yansa-sign.al-sinh",
"da-ae.ss01-sinh",
"da-aae.ss01-sinh",
"da-aa.ss01-sinh",
"da-vocalicR.ss01-sinh",
"da-vocalicRr.ss01-sinh",
"da-yansa.post.ss01-sinh",
"da-yansa-aa.post.ss01-sinh",
"da-yansa-u.post.ss01-sinh",
"da-yansa-oo.post.ss01-sinh",
"da-yansa-uu.post.ss01-sinh",
"nda-ae.ss01-sinh",
"nda-aa.ss01-sinh",
"nda-aae.ss01-sinh",
"jnya-ae.ss01-sinh",
"jnya-aae.ss01-sinh",
"jnya-aa.ss01-sinh",
"nya-ae.ss01-sinh",
"nya-aae.ss01-sinh",
"nya-aa.ss01-sinh",
"na_da-aa.ss01-sinh",
"na_da-aae.ss01-sinh",
"na_da-ae.ss01-sinh",
"da-aa.al.ss01-sinh",
"nda-aa.al.ss01-sinh",
"jnya-aa.al.ss01-sinh",
"nya-aa.al.ss01-sinh",
"na_da-aa.al.ss01-sinh",
"da-rakar-aa.ss01-sinh",
"nda-rakar-aa.ss01-sinh",
"anusvara_sha-sinh",
"anusvara_sha-i-sinh",
"anusvara_sha-al-sinh",
"anusvara_sha-ii-sinh",
"anusvara_sha-u-sinh",
"anusvara_sha-uu-sinh",
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
D,
Eth,
Dcaron,
Dcroat,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
d,
eth,
dcaron,
dcroat,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
h,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
j,
k,
l,
lacute,
lcaron,
lslash,
m,
n,
nacute,
ncaron,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
s,
sacute,
scaron,
germandbls,
t,
tcaron,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uni0123,
uni0137,
uni013C,
uni0146,
uni0157,
uni015F,
uni0163,
uni0219,
uni021B,
uogonek,
uring,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
fi,
fl,
ordfeminine,
ordmasculine,
pi,
"a-taml",
"aa-taml",
"i-taml",
"ii-taml",
"u-taml",
"uu-taml",
"e-taml",
"ee-taml",
"ai-taml",
"o-taml",
"oo-taml",
"au-taml",
"ka-taml",
"nga-taml",
"ca-taml",
"ja-taml",
"nya-taml",
"tta-taml",
"nna-taml",
"ta-taml",
"na-taml",
"nna2-taml",
"pa-taml",
"ma-taml",
"ya-taml",
"ra-taml",
"rra-taml",
"la-taml",
"lla-taml",
"zha-taml",
"va-taml",
"sha-taml",
"ssa-taml",
"sa-taml",
"ha-taml",
"om-taml",
"visarga-taml",
"oneArchaic-sinhala",
"twoArchaic-sinhala",
"threeArchaic-sinhala",
"fourArchaic-sinhala",
"fiveArchaic-sinhala",
"sixArchaic-sinhala",
"sevenArchaic-sinhala",
"eightArchaic-sinhala",
"nineArchaic-sinhala",
"tenArchaic-sinhala",
"twentyArchaic-sinhala",
"thirtyArchaic-sinhala",
"fortyArchaic-sinhala",
"fiftyArchaic-sinhala",
"sixtyArchaic-sinhala",
"seventyArchaic-sinhala",
"eightyArchaic-sinhala",
"ninetyArchaic-sinhala",
"onehundredArchaic-sinhala",
"onethousandArchaic-sinhala",
sinEight_Zerolith,
sinFive_Zerolith,
sinFour_Zerolith,
sinNine_Zerolith,
sinOne_Zerolith,
sinSeven_Zerolith,
sinSix_Zerolith,
sinThree_Zerolith,
sinTwo_Zerolith,
sinZerolith,
sinOnelith,
sinTwolith,
sinThreelith,
sinFourlith,
sinFivelith,
sinSixlith,
sinSevenlith,
sinEightlith,
sinNinelith,
"ten-taml",
"hundred-taml",
"thousand-taml",
"zero-taml",
"one-taml",
"two-taml",
"three-taml",
"four-taml",
"five-taml",
"six-taml",
"seven-taml",
"eight-taml",
"nine-taml",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
zerowidthjoiner,
zerowidthnonjoiner,
CR,
NULL,
.notdef,
space,
nbspace,
uni0964,
uni0965,
sinKundaliya,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
short_dash2,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
"day-sign-taml",
"month-sign-taml",
"year-sign-taml",
"debit-sign-taml",
"credit-sign-taml",
"asabove-sign-taml",
"number-sign-taml",
"rupee-sign-taml",
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
uni2113,
daggerdbl,
estimated,
Euro,
cent,
currency,
dollar,
ruble,
rupeeIndian,
sterling,
uni20BA,
yen,
bulletoperator,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
uni00B5,
percent,
perthousand,
dottedCircle,
lozenge,
"candrabindu-sinh.001",
"ii-sign-taml",
"virama-sign-taml",
"anusvara-taml",
"aa-sign-taml",
"i-sign-taml",
"u-sign-taml",
"uu-sign-taml",
"e-sign-taml",
"ee-sign-taml",
"ai-sign-taml",
"o-sign-taml",
"oo-sign-taml",
"au-sign-taml",
"au-lengthmark-taml",
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
uni02C9,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
"repha-sign-sinh.001",
"repha-sign-sinh.002",
"repha-sign-sinh.003",
"repha-sign-sinh.004",
"repha-sign-sinh.005",
"repha-sign-sinh.006",
"repha-sign-sinh.007",
"repha-sign-sinh.008",
"repha-sign-sinh.009",
"repha-sign-sinh.010",
commaaccent,
czechcaron,
mooniak,
"ca-i-taml",
"ca-ii-taml",
"ca-u-taml",
"ca-uu-taml",
"ha-i-taml",
"ha-ii-taml",
"ha-u-taml",
"ha-uu-taml",
"ja-i-taml",
"ja-ii-taml",
"ja-u-taml",
"ja-uu-taml",
"ka-i-taml",
"ka-ii-taml",
"kssa-i-taml",
"kssa-ii-taml",
"kssa-u-taml",
"kssa-uu-taml",
"kssa-taml",
"ka-u-taml",
"ka-uu-taml",
"la-i-taml",
"la-ii-taml",
"la-u-taml",
"la-uu-taml",
"lla-i-taml",
"lla-ii-taml",
"lla-u-taml",
"lla-uu-taml",
"zha-i-taml",
"zha-ii-taml",
"zha-u-taml",
"zha-uu-taml",
"ma-i-taml",
"ma-ii-taml",
"ma-u-taml",
"ma-uu-taml",
"na-i-taml",
"na-ii-taml",
"na-u-taml",
"na-uu-taml",
"nga-i-taml",
"nga-ii-taml",
"nga-uu-taml",
"nna-i-taml",
"nna-ii-taml",
"nna-u-taml",
"nna-uu-taml",
"nna2-i-taml",
"nna2-ii-taml",
"nna2-u-taml",
"nna2-uu-taml",
"nya-i-taml",
"nya-ii-taml",
"nya-u-taml",
"nya-uu-taml",
"pa-i-taml",
"pa-ii-taml",
"pa-u-taml",
"pa-uu-taml",
"ra-i-taml",
"ra-ii-taml",
"ra-u-taml",
"ra-uu-taml",
"rra-i-taml",
"rra-ii-taml",
"rra-u-taml",
"rra-uu-taml",
"sa-i-taml",
"sa-ii-taml",
"sa-u-taml",
"sha-i-taml",
"sha-ii-taml",
"shree-taml",
"ssa-i-taml",
"ssa-ii-taml",
"ssa-u-taml",
"ssa-uu-taml",
"ta-i-taml",
"ta-ii-taml",
"ta-u-taml",
"ta-uu-taml",
"tta-i-taml",
"tta-ii-taml",
"tta-u-taml",
"tta-uu-taml",
"va-i-taml",
"va-ii-taml",
"va-uu-taml",
"ya-i-taml",
"ya-ii-taml",
"ya-uu-taml",
vertical_stem_upper,
"i-sign.alt1-taml",
"i-sign.alt2-taml",
"i-sign.alt3-taml",
"i-sign.alt4-taml",
"i-sign.alt5-taml",
"i-sign.alt6-taml",
"i-sign.alt7-taml",
"ii-sign.alt-taml",
"ii-sign.alt1-taml",
"u-sign.alt1-taml"
)