(
sinA,
sinAa,
sinAe,
sinAae,
sinI,
sinIi,
sinU,
sinUu,
sinRVocalic,
sinRrVocalic,
sinLVocalic,
sinLlVocalic,
sinE,
sinEe,
sinAi,
sinO,
sinOo,
sinAu,
sinKa,
sinKha,
sinGa,
sinGha,
sinNga,
sinNnga,
sinCa,
sinCha,
sinJa,
sinJha,
sinNya,
sinJnya,
sinNyja,
sinTta,
sinTtha,
sinDda,
sinDdha,
sinNna,
sinNndda,
sinTa,
sinTha,
sinDa,
sinDha,
sinNa,
sinNda,
sinPa,
sinPha,
sinBa,
sinBha,
sinMa,
sinMba,
sinYa,
sinRa,
sinLa,
sinVa,
sinSha,
sinSsa,
sinSa,
sinHa,
sinLla,
sinFa,
sinfPa,
sinKSsa,
sinKVa,
sinTVa,
sinTTha,
sinNDa,
sinNDha,
sinNVa,
sinNTha,
sinGDha,
sinDVa,
sinDDha,
sinTtTtha,
sinNyCa,
sinNyCha,
sinCCa,
sinBBa,
sinMatraAae,
sinMatraAe,
sinMatraAi,
sinMatraAu,
sinMatraE,
sinMatraEe,
sinMatraI,
sinMatraIi,
sinMatraLl,
sinMatraLs,
sinMatraO,
sinMatraOo,
sinMatraR,
sinMatraRr,
sinMatraU,
sinMatraUu,
sinMatraU.sub,
sinMatraUu.sub,
sinVirama,
sinRakar,
sinReph,
sinAnusvara,
sinCandrabindu,
sinVisarga,
sinMatraAa,
sinMatraAa.virama,
sinTouch,
sinK,
sinKh,
sinG,
sinGh,
sinNg,
sinNng,
sinC,
sinCh,
sinJ,
sinJh,
sinNy,
sinJny,
sinNyj,
sinTt,
sinTth,
sinDd,
sinDdh,
sinNn,
sinNndd,
sinT,
sinTh,
sinD,
sinDh,
sinN,
sinNd,
sinP,
sinPh,
sinB,
sinBh,
sinM,
sinMb,
sinY,
sinR,
sinL,
sinV,
sinSh,
sinSs,
sinS,
sinH,
sinLl,
sinF,
sinfP,
sinKSs,
sinKV,
sinTV,
sinTTh,
sinND,
sinNDh,
sinNV,
sinNTh,
sinGDh,
sinDV,
sinDDh,
sinTtTth,
sinNyC,
sinNyCh,
sinCC,
sinBB,
sinKI,
sinKhI,
sinGI,
sinGhI,
sinNgI,
sinNngI,
sinCI,
sinChI,
sinJI,
sinJhI,
sinNyI,
sinJnyI,
sinNyjI,
sinTtI,
sinTthI,
sinDdI,
sinDdhI,
sinNnI,
sinNnddI,
sinTI,
sinThI,
sinDI,
sinDhI,
sinNI,
sinNdI,
sinPI,
sinPhI,
sinBI,
sinBhI,
sinMI,
sinMbI,
sinYI,
sinRI,
sinLI,
sinVI,
sinShI,
sinSsI,
sinSI,
sinHI,
sinLlI,
sinFI,
sinfPI,
sinKSsI,
sinKVI,
sinTVI,
sinTThI,
sinNDI,
sinNDhI,
sinNVI,
sinNThI,
sinGDhI,
sinDVI,
sinDDhI,
sinTtTthI,
sinNyCI,
sinNyChI,
sinCCI,
sinBBI,
sinKIi,
sinKhIi,
sinGIi,
sinGhIi,
sinNgIi,
sinNngIi,
sinCIi,
sinChIi,
sinJIi,
sinJhIi,
sinNyIi,
sinJnyIi,
sinNyjIi,
sinTtIi,
sinTthIi,
sinDdIi,
sinDdhIi,
sinNnIi,
sinNnddIi,
sinTIi,
sinThIi,
sinDIi,
sinDhIi,
sinNIi,
sinNdIi,
sinPIi,
sinPhIi,
sinBIi,
sinBhIi,
sinMIi,
sinMbIi,
sinYIi,
sinRIi,
sinLIi,
sinVIi,
sinShIi,
sinSsIi,
sinSIi,
sinHIi,
sinLlIi,
sinFIi,
sinfPIi,
sinKSsIi,
sinKVIi,
sinTVIi,
sinTThIi,
sinNDIi,
sinNDhIi,
sinNVIi,
sinNThIi,
sinGDhIi,
sinDVIi,
sinDDhIi,
sinTtTthIi,
sinNyCIi,
sinNyChIi,
sinCCIi,
sinBBIi,
sinKU,
sinKhU,
sinGU,
sinGhU,
sinNngU,
sinCU,
sinChU,
sinJU,
sinJhU,
sinNyU,
sinJnyU,
sinNyjU,
sinTtU,
sinTthU,
sinDdU,
sinDdhU,
sinNnU,
sinNnddU,
sinTU,
sinThU,
sinDU,
sinDhU,
sinNU,
sinNdU,
sinPU,
sinPhU,
sinBU,
sinBhU,
sinMU,
sinMbU,
sinYU,
sinRU,
sinLU,
sinVU,
sinShU,
sinSsU,
sinSU,
sinHU,
sinLlU,
sinFU,
sinfPU,
sinKSsU,
sinKVU,
sinTVU,
sinTThU,
sinNDU,
sinNDhU,
sinNVU,
sinNThU,
sinGDhU,
sinDVU,
sinDDhU,
sinTtTthU,
sinNyCU,
sinNyChU,
sinCCU,
sinBBU,
sinKUu,
sinKhUu,
sinGUu,
sinGhUu,
sinNngUu,
sinCUu,
sinChUu,
sinJUu,
sinJhUu,
sinNyUu,
sinJnyUu,
sinNyjUu,
sinTtUu,
sinTthUu,
sinDdUu,
sinDdhUu,
sinNnUu,
sinNnddUu,
sinTUu,
sinThUu,
sinDUu,
sinDhUu,
sinNUu,
sinNdUu,
sinPUu,
sinPhUu,
sinBUu,
sinBhUu,
sinMUu,
sinMbUu,
sinYUu,
sinRUu,
sinLUu,
sinVUu,
sinShUu,
sinSsUu,
sinSUu,
sinHUu,
sinLlUu,
sinFUu,
sinfPUu,
sinKSsUu,
sinKVUu,
sinTVUu,
sinTThUu,
sinNDUu,
sinNDhUu,
sinNVUu,
sinNThUu,
sinGDhUu,
sinDVUu,
sinDDhUu,
sinTtTthUu,
sinNyCUu,
sinNyChUu,
sinCCUu,
sinBBUu,
sinRAe,
sinRAae,
sinKRa,
sinKhRa,
sinGRa,
sinGhRa,
sinCRa,
sinJRa,
sinJhRa,
sinNyRa,
sinJnyRa,
sinNyjRa,
sinTtRa,
sinDdRa,
sinTRa,
sinDRa,
sinDhRa,
sinNdRa,
sinPRa,
sinBRa,
sinBhRa,
sinMRa,
sinVRa,
sinShRa,
sinSsRa,
sinSRa,
sinHRa,
sinFRa,
sinfPRa,
sinNDRa,
sinKR,
sinKhR,
sinGR,
sinGhR,
sinCR,
sinJR,
sinJhR,
sinNyR,
sinJnyR,
sinNyjR,
sinTtR,
sinDdR,
sinTR,
sinDR,
sinDhR,
sinPR,
sinBR,
sinBhR,
sinMR,
sinVR,
sinShR,
sinSsR,
sinSR,
sinHR,
sinFR,
sinfPR,
sinKRI,
sinKhRI,
sinGRI,
sinGhRI,
sinCRI,
sinJRI,
sinJhRI,
sinNyRI,
sinJnyRI,
sinTtRI,
sinDdRI,
sinTRI,
sinDRI,
sinDhRI,
sinPRI,
sinBRI,
sinBhRI,
sinMRI,
sinVRI,
sinShRI,
sinSsRI,
sinSRI,
sinHRI,
sinFRI,
sinfPRI,
sinNDRI,
sinKRIi,
sinKhRIi,
sinGRIi,
sinGhRIi,
sinCRIi,
sinJRIi,
sinJhRIi,
sinNyRIi,
sinJnyRIi,
sinTtRIi,
sinDdRIi,
sinTRIi,
sinDRIi,
sinDhRIi,
sinPRIi,
sinBRIi,
sinBhRIi,
sinMRIi,
sinVRIi,
sinShRIi,
sinSsRIi,
sinSRIi,
sinHRIi,
sinFRIi,
sinfPRIi,
sinNDRIi,
sinKa.reph,
sinKha.reph,
sinGa.reph,
sinGha.reph,
sinNga.reph,
sinNnga.reph,
sinCa.reph,
sinCha.reph,
sinJa.reph,
sinJha.reph,
sinNya.reph,
sinJnya.reph,
sinNyja.reph,
sinTta.reph,
sinTtha.reph,
sinDda.reph,
sinDdha.reph,
sinNna.reph,
sinNndda.reph,
sinTa.reph,
sinTha.reph,
sinDa.reph,
sinDha.reph,
sinNa.reph,
sinNda.reph,
sinPa.reph,
sinPha.reph,
sinBa.reph,
sinBha.reph,
sinMa.reph,
sinMba.reph,
sinYa.reph,
sinRa.reph,
sinLa.reph,
sinVa.reph,
sinSha.reph,
sinSsa.reph,
sinSa.reph,
sinHa.reph,
sinLla.reph,
sinFa.reph,
sinfPa.reph,
sinKSsa.reph,
sinKVa.reph,
sinTVa.reph,
sinTTha.reph,
sinNDa.reph,
sinNDha.reph,
sinNVa.reph,
sinNTha.reph,
sinGDha.reph,
sinDVa.reph,
sinDDha.reph,
sinTtTtha.reph,
sinNyCa.reph,
sinNyCha.reph,
sinCCa.reph,
sinBBa.reph,
sinYansaya.MatraI,
sinYansaya.MatraIi,
sinYansaya.reph,
sinYansaya,
sinYansaya_Reph_MatraAa,
sinYansa_MatraUu,
sinYansa_MatraU,
sinYansaya_Reph_MatraU,
sinYansaya_Reph_MatraUu,
sinYansaya.virama,
sinDAe.ss01,
sinDAae.ss01,
sinDAa.ss01,
sinDvocR.ss01,
sinDvocRr.ss01,
sinDaYa.post.ss01,
sinDYAa.post.ss01,
sinDYu.post.ss01,
sinDYOo.post.ss01,
sinDYUu.post.ss01,
sinNdAe.ss01,
sinNdAa.ss01,
sinNdAae.ss01,
sinJnyAe.ss01,
sinJnyAee.ss01,
sinJnyAa.ss01,
sinNyAe.ss01,
sinNyAee.ss01,
sinNyAa.ss01,
sinNDAa.ss01,
sinNDAee.ss01,
sinNDAe.ss01,
sinDAa.virama.ss01,
sinNdAa.virama.ss01,
sinJnyAa.virama.ss01,
sinNyAa.virama.ss01,
sinNDAa.virama.ss01,
sinDRAa.ss01,
sinNdRAa.ss01,
sinAnusvara_Sha,
sinAnusvara_ShI,
sinAnusvara_Sh,
sinAnusvara_ShIi,
sinAnusvara_ShU,
sinAnusvara_ShUu,
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
D,
Eth,
Dcaron,
Dcroat,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
Gcommaaccent,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
d,
eth,
dcaron,
dcroat,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
h,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
j,
k,
l,
lacute,
lcaron,
lslash,
m,
n,
nacute,
ncaron,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
s,
sacute,
scaron,
germandbls,
t,
tcaron,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uni0123,
uni0137,
uni013C,
uni0146,
uni0157,
uni015F,
uni0163,
uni0219,
uni021B,
uogonek,
uring,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
fi,
fl,
ordfeminine,
ordmasculine,
pi,
taA,
taAa,
taI,
taIi,
taU,
taUu,
taE,
taEe,
taAi,
taO,
taOo,
taAu,
taKa,
taNga,
taCa,
taJa,
taNya,
taTta,
taNna,
taTa,
taNa,
taNnna,
taPa,
taMa,
taYa,
taRa,
taRra,
taLa,
taLla,
taLlla,
taVa,
taSha,
taSsa,
taSa,
taHa,
taOm,
taVisarga,
"oneArchaic-sinhala",
"twoArchaic-sinhala",
"threeArchaic-sinhala",
"fourArchaic-sinhala",
"fiveArchaic-sinhala",
"sixArchaic-sinhala",
"sevenArchaic-sinhala",
"eightArchaic-sinhala",
"nineArchaic-sinhala",
"tenArchaic-sinhala",
"twentyArchaic-sinhala",
"thirtyArchaic-sinhala",
"fortyArchaic-sinhala",
"fiftyArchaic-sinhala",
"sixtyArchaic-sinhala",
"seventyArchaic-sinhala",
"eightyArchaic-sinhala",
"ninetyArchaic-sinhala",
"onehundredArchaic-sinhala",
"onethousandArchaic-sinhala",
sinEight_Zerolith,
sinFive_Zerolith,
sinFour_Zerolith,
sinNine_Zerolith,
sinOne_Zerolith,
sinSeven_Zerolith,
sinSix_Zerolith,
sinThree_Zerolith,
sinTwo_Zerolith,
sinZerolith,
sinOnelith,
sinTwolith,
sinThreelith,
sinFourlith,
sinFivelith,
sinSixlith,
sinSevenlith,
sinEightlith,
sinNinelith,
taten,
taonehundred,
taonethousand,
tazero,
taone,
tatwo,
tathree,
tafour,
tafive,
tasix,
taseven,
taeight,
tanine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
zerowidthjoiner,
zerowidthnonjoiner,
CR,
NULL,
.notdef,
space,
nbspace,
uni0964,
uni0965,
sinKundaliya,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
short_dash2,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
taday,
tamonth,
tayear,
tadebit,
tacredit,
taasabove,
tanumber,
taRupee,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
uni2113,
daggerdbl,
estimated,
Euro,
cent,
currency,
dollar,
ruble,
rupeeIndian,
sterling,
uni20BA,
yen,
bulletoperator,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
uni00B5,
percent,
perthousand,
dottedCircle,
lozenge,
sinCandrabindu.001,
taMatraIi,
taHalant,
taAnusvara,
taMatraAa,
taMatraI,
taMatraU,
taMatraUu,
taMatraE,
taMatraEe,
taMatraAi,
taMatraO,
taMatraOo,
taMatrAau,
taAulengthmark,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
uni02C9,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
sinReph.001,
sinReph.002,
sinReph.003,
sinReph.004,
sinReph.005,
sinReph.006,
sinReph.007,
sinReph.008,
sinReph.009,
sinReph.010,
commaaccent,
czechcaron,
mooniak,
taCI,
taCIi,
taCU,
taCUu,
taHI,
taHIi,
taHU,
taHUu,
taJI,
taJIi,
taJU,
taJUu,
taKI,
taKIi,
taKSsI,
taKSsIi,
taKSsU,
taKSsUu,
taKSsa,
taKU,
taKUu,
taLI,
taLIi,
taLU,
taLUu,
taLlI,
taLlIi,
taLlU,
taLlUu,
taLllI,
taLllIi,
taLllU,
taLllUu,
taMI,
taMIi,
taMU,
taMUu,
taNI,
taNIi,
taNU,
taNUu,
taNgI,
taNgIi,
taNgUu,
taNnI,
taNnIi,
taNnU,
taNnUu,
taNnnI,
taNnnIi,
taNnnU,
taNnnUu,
taNyI,
taNyIi,
taNyU,
taNyUu,
taPI,
taPIi,
taPU,
taPUu,
taRI,
taRIi,
taRU,
taRUu,
taRrI,
taRrIi,
taRrU,
taRrUu,
taSI,
taSIi,
taSU,
taShI,
taShIi,
taShree,
taSsI,
taSsIi,
taSsU,
taSsUu,
taTI,
taTIi,
taTU,
taTUu,
taTtI,
taTtIi,
taTtU,
taTtUu,
taVI,
taVIi,
taVUu,
taYI,
taYIi,
taYUu,
vertical_stem_upper,
taMatraI.alt1,
taMatraI.alt2,
taMatraI.alt3,
taMatraI.alt4,
taMatraI.alt5,
taMatraI.alt6,
taMatraI.alt7,
taMatraIi.alt,
taMatraIi.alt1,
taMatraU.alt1
)