<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>800</integer>
	<key>copyright</key>
	<string>Copyright (c) 1997-2015 Pushpananda Ekanayake (http://isiwara.lk), Copyright (c) 2015 mooniak (http://mooniak.com)
</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>AbhayaLibre</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>note</key>
	<string>2015-2-15: Created with FontForge (http://fontforge.org) The  Free Font Editor</string>
	<key>openTypeHeadCreated</key>
	<string>2015/08/20 06:17:43</string>
	<key>openTypeHheaAscender</key>
	<integer>896</integer>
	<key>openTypeHheaDescender</key>
	<integer>-200</integer>
	<key>openTypeHheaLineGap</key>
	<integer>92</integer>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.0.1</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>800</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>92</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>1</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>PfEd</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>896</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>200</integer>
	<key>postscriptFontName</key>
	<string>AbhayaLibre-ExtraBold</string>
	<key>postscriptFullName</key>
	<string>AbhayaLibre</string>
	<key>postscriptUnderlinePosition</key>
	<integer>-99</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>49</integer>
	<key>postscriptWeightName</key>
	<string>ExtraBold</string>
	<key>styleMapFamilyName</key>
	<string>AbhayaLibre</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>ExtraBold</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
</dict>
</plist>
