@font-face {
    font-family:'MyFont';
    src: url("My-Font-0.otf") format('opentype');
}
@font-face {
    font-family:'MyFont-0';
    src: url("My-Font-0.otf") format('opentype');
}
@font-face {
    font-family:'MyFont-1';
    src: url("My-Font-1.otf") format('opentype');
}