<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>746</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>(c) 1997 Pushpananda Ekanayake(http://isiwara.lk), 2013 Path Nirvana(http://pathnirvana.org/), 2014 mooniak(mooniak.com). All Rights Reserved.</string>
	<key>descender</key>
	<integer>-254</integer>
	<key>description</key>
	<string>Pushpananda Ekanayake and mooniak</string>
	<key>familyName</key>
	<string>Abhaya Libre Latin</string>
	<key>license</key>
	<string>Licensed under OFL</string>
	<key>licenseURL</key>
	<string>http://www.apache.org/licenses/LICENSE-2.0</string>
	<key>openTypeHeadCreated</key>
	<string>2015/06/27 15:27:01</string>
	<key>openTypeNameDesigner</key>
	<string>Pushpananda Ekanayake(isiwara.lk)</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.mooniak.com/typography</string>
	<key>openTypeNameManufacturer</key>
	<string>mooniak PLC.</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://github.com/mooniak/nidahas-fm-abhaya</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Abhaya Libre Latin</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>746</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-254</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>36</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-15</integer>
		<integer>0</integer>
		<integer>500</integer>
		<integer>516</integer>
		<integer>700</integer>
		<integer>716</integer>
		<integer>746</integer>
		<integer>762</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-270</integer>
		<integer>-254</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>23</integer>
		<integer>28</integer>
		<integer>40</integer>
		<integer>50</integer>
		<integer>90</integer>
		<integer>110</integer>
		<integer>132</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>22</integer>
		<integer>30</integer>
		<integer>34</integer>
		<integer>39</integer>
		<integer>48</integer>
		<integer>55</integer>
		<integer>61</integer>
		<integer>69</integer>
		<integer>85</integer>
		<integer>92</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-37</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>24</integer>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>vendorID</key>
	<string>MS  </string>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>41</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
