/* Webfont: NidahasFMAbhaya-Regular */@font-face {
    font-family: 'NidahasFMAbhaya';
    src: url('NidahasFMAbhaya-Regular.eot'); /* IE9 Compat Modes */
    src: url('NidahasFMAbhaya-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NidahasFMAbhaya-Regular.woff') format('woff'), /* Modern Browsers */
         url('NidahasFMAbhaya-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NidahasFMAbhaya-Regular.svg#NidahasFMAbhaya-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{

    font-feature-settings:"akhn";
   
     -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";}

