<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-35</integer>
		<key>@MMK_R_d</key>
		<integer>-35</integer>
		<key>@MMK_R_e</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-45</integer>
		<key>@MMK_R_w</key>
		<integer>-45</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-35</integer>
		<key>quoteright</key>
		<integer>-90</integer>
		<key>quotesingle</key>
		<integer>-80</integer>
		<key>v</key>
		<integer>-45</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-5</integer>
		<key>N</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-45</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_I</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-15</integer>
		<key>@MMK_R_U</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>x</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-15</integer>
		<key>@MMK_R_G</key>
		<integer>-5</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_e</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>0</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-60</integer>
		<key>@MMK_R_G</key>
		<integer>-60</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-40</integer>
		<key>@MMK_R_d</key>
		<integer>-40</integer>
		<key>@MMK_R_e</key>
		<integer>-40</integer>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_h</key>
		<integer>-10</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_k</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_w</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-5</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>5</integer>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>35</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-50</integer>
		<key>quotesingle</key>
		<integer>-70</integer>
		<key>v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>10</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>dot</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>20</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-25</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_c</key>
		<integer>-50</integer>
		<key>@MMK_R_d</key>
		<integer>-50</integer>
		<key>@MMK_R_e</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_k</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-45</integer>
		<key>dot</key>
		<integer>-80</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-15</integer>
		<key>@MMK_R_G</key>
		<integer>-15</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>10</integer>
		<key>@MMK_R_Z</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-50</integer>
		<key>@MMK_R_G</key>
		<integer>-50</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-45</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>15</integer>
		<key>@MMK_R_Y</key>
		<integer>6</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-65</integer>
		<key>@MMK_R_c</key>
		<integer>-60</integer>
		<key>@MMK_R_d</key>
		<integer>-60</integer>
		<key>@MMK_R_e</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_h</key>
		<integer>-25</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_k</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_r</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_w</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>15</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>dot</key>
		<integer>-80</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>-40</integer>
		<key>p</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_G</key>
		<integer>-30</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-35</integer>
		<key>@MMK_R_S</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_c</key>
		<integer>-60</integer>
		<key>@MMK_R_d</key>
		<integer>-60</integer>
		<key>@MMK_R_e</key>
		<integer>-60</integer>
		<key>@MMK_R_f</key>
		<integer>-45</integer>
		<key>@MMK_R_g</key>
		<integer>-60</integer>
		<key>@MMK_R_i</key>
		<integer>-45</integer>
		<key>@MMK_R_n</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_r</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>@MMK_R_w</key>
		<integer>-60</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>dot</key>
		<integer>-80</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-45</integer>
		<key>p</key>
		<integer>-45</integer>
		<key>q</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>5</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>braceright</key>
		<integer>70</integer>
		<key>exclam</key>
		<integer>70</integer>
		<key>parenright</key>
		<integer>70</integer>
		<key>question</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>90</integer>
		<key>quotesingle</key>
		<integer>90</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-35</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_p</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_k</key>
		<integer>-40</integer>
		<key>@MMK_R_l</key>
		<integer>-35</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>dot</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>5</integer>
		<key>@MMK_R_w</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_k</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-35</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_k</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>dot</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>semicolon</key>
		<integer>-30</integer>
		<key>short_dash1</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_k</key>
		<integer>-30</integer>
		<key>@MMK_R_l</key>
		<integer>-25</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_r</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>dot</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>-15</integer>
		<key>p</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>semicolon</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-5</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>@MMK_R_N</key>
		<integer>0</integer>
		<key>A</key>
		<integer>5</integer>
		<key>B</key>
		<integer>-10</integer>
		<key>C</key>
		<integer>-35</integer>
		<key>G</key>
		<integer>-35</integer>
		<key>J</key>
		<integer>10</integer>
		<key>N</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-35</integer>
		<key>S</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>U</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-75</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-65</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>A</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_W</key>
		<integer>10</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_e</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>A</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>5</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>dot</key>
		<integer>-80</integer>
		<key>q</key>
		<integer>-20</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>-65</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>5</integer>
		<key>@MMK_R_W</key>
		<integer>5</integer>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-30</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-25</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_c</key>
		<integer>-25</integer>
		<key>@MMK_R_d</key>
		<integer>-25</integer>
		<key>@MMK_R_e</key>
		<integer>-25</integer>
		<key>@MMK_R_g</key>
		<integer>-25</integer>
		<key>@MMK_R_h</key>
		<integer>-20</integer>
		<key>@MMK_R_k</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>A</key>
		<integer>-85</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-50</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>dot</key>
		<integer>-80</integer>
		<key>q</key>
		<integer>-25</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-15</integer>
		<key>@MMK_R_G</key>
		<integer>-15</integer>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_e</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>A</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>-35</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-30</integer>
		<key>quotesingle</key>
		<integer>-30</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-75</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-55</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-45</integer>
		<key>@MMK_R_G</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_W</key>
		<integer>15</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_c</key>
		<integer>-50</integer>
		<key>@MMK_R_d</key>
		<integer>-50</integer>
		<key>@MMK_R_e</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-65</integer>
		<key>@MMK_R_i</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_r</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_w</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-50</integer>
		<key>A</key>
		<integer>-90</integer>
		<key>B</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>dot</key>
		<integer>-80</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>m</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>-50</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-80</integer>
		<key>B</key>
		<integer>-20</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-50</integer>
		<key>@MMK_R_G</key>
		<integer>-40</integer>
		<key>@MMK_R_I</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>5</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-35</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_d</key>
		<integer>-30</integer>
		<key>@MMK_R_e</key>
		<integer>-30</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_w</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>A</key>
		<integer>-85</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-50</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-75</integer>
		<key>B</key>
		<integer>-20</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>germandbls</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>j</key>
		<integer>50</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_W</key>
		<integer>-80</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>-80</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>c</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-25</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>@MMK_R_h</key>
		<integer>30</integer>
		<key>@MMK_R_k</key>
		<integer>30</integer>
		<key>@MMK_R_l</key>
		<integer>30</integer>
		<key>exclam</key>
		<integer>40</integer>
	</dict>
	<key>dot</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>20</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-25</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>quotesingle</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>b</key>
		<integer>55</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>h</key>
		<integer>55</integer>
		<key>i</key>
		<integer>40</integer>
		<key>j</key>
		<integer>25</integer>
		<key>k</key>
		<integer>55</integer>
		<key>l</key>
		<integer>55</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>quotesingle</key>
		<integer>-20</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>b</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>h</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>20</integer>
		<key>k</key>
		<integer>-15</integer>
		<key>l</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>5</integer>
		<key>u</key>
		<integer>5</integer>
		<key>v</key>
		<integer>10</integer>
		<key>w</key>
		<integer>10</integer>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>j</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-17</integer>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>j</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-25</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>d</key>
		<integer>-25</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-5</integer>
		<key>j</key>
		<integer>-35</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>lcaron</key>
	<dict>
		<key>b</key>
		<integer>20</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-55</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>j</key>
		<integer>70</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-90</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>h</key>
		<integer>-35</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>comma</key>
		<integer>-90</integer>
		<key>dot</key>
		<integer>-90</integer>
		<key>eight</key>
		<integer>-20</integer>
		<key>five</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-50</integer>
		<key>nine</key>
		<integer>-20</integer>
		<key>quotesingle</key>
		<integer>20</integer>
		<key>six</key>
		<integer>-20</integer>
	</dict>
	<key>short_dash1</key>
	<dict>
		<key>@MMK_R_w</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>h</key>
		<integer>-10</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_k</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>-30</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>dot</key>
		<integer>-70</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>h</key>
		<integer>-35</integer>
		<key>i</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>p</key>
		<integer>-17</integer>
		<key>q</key>
		<integer>-25</integer>
		<key>semicolon</key>
		<integer>-30</integer>
		<key>short_dash1</key>
		<integer>-20</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>h</key>
		<integer>-35</integer>
		<key>i</key>
		<integer>-15</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_k</key>
		<integer>-15</integer>
		<key>@MMK_R_l</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-22</integer>
		<key>@MMK_R_s</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>short_dash1</key>
		<integer>-20</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-30</integer>
		<key>b</key>
		<integer>-15</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>f</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-45</integer>
		<key>h</key>
		<integer>-35</integer>
		<key>i</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
