/*
Author - Pathum Egodawatta
Site - mooniak.com
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
		.content {

			padding: 10px;
			}



h3{ font-size: 18px;
    font-weight: 100;}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
    font-variant: normal; 
font-feature-settings: "kern" on, "liga" on, "calt" on, "dlig", "swsh"
-moz-font-feature-settings: "kern" on, "liga" on, "calt" on, "dlig", "swsh"
-webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "dlig", "swsh"
-ms-font-feature-settings: "kern" on, "liga" on, "calt" on, "dlig", "swsh"
-o-font-feature-settings: "kern" on, "liga" on, "calt" on, "dlig", "swsh"
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body {
margin: 0px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

h1 {
font-size:100px;
}
a{
text-decoration:none;
color:#555;
}
a:hover{
color:#fff;
}
.alphabet {
font-size:50px;

}
.panagram {
font-size:26px;

}



.test {
font-size:60px;
text-align:center;
}
.test:hover {
background:#eee;
}

#footer{
font-size: 12px;
}
#footer a{
color:#444;
}
.button{
color:#fff;
background:#000;
font-size:40px;
text-align:center;
border:1px dotted #000;
}
.button a{
color:#fff;
background:#000;
}
.button a:hover{

background:#666;
}
.button:hover{
background:#666;
}

#preview{
  width: 100%;
}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*requi#c11717 for proper track sizing in FF*/
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c11717;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c11717;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c11717;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.da_forms {
  -moz-font-feature-settings: "'ss01' 1";
  -ms-font-feature-settings: "'ss01' 1";
  -webkit-font-feature-settings: "'ss01' 1";
  font-feature-settings: "'ss01' 1";
}

.info {
    font-weight: 700;
    font-size: 18px;
    color: #1D6077;
    padding: 10px;
    text-align: center;
}
.line-separator{

height:1px;
border-bottom:1px solid #313030;
width: 100%;
}

.btn{
font-weight: 800;
}

#nav{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 2000;
    padding: 10px;
}