<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni0B83</key>
    <string>uni0B_83.glif</string>
    <key>uni0B85</key>
    <string>uni0B_85.glif</string>
    <key>uni0B86</key>
    <string>uni0B_86.glif</string>
    <key>uni0B87</key>
    <string>uni0B_87.glif</string>
    <key>uni0B88</key>
    <string>uni0B_88.glif</string>
    <key>uni0B89</key>
    <string>uni0B_89.glif</string>
    <key>uni0B8A</key>
    <string>uni0B_8A_.glif</string>
    <key>uni0B8E</key>
    <string>uni0B_8E_.glif</string>
    <key>uni0B8F</key>
    <string>uni0B_8F_.glif</string>
    <key>uni0B90</key>
    <string>uni0B_90.glif</string>
    <key>uni0B92</key>
    <string>uni0B_92.glif</string>
    <key>uni0B93</key>
    <string>uni0B_93.glif</string>
    <key>uni0B94</key>
    <string>uni0B_94.glif</string>
    <key>uni0B95</key>
    <string>uni0B_95.glif</string>
    <key>uni0B99</key>
    <string>uni0B_99.glif</string>
    <key>uni0B9A</key>
    <string>uni0B_9A_.glif</string>
    <key>uni0B9C</key>
    <string>uni0B_9C_.glif</string>
    <key>uni0B9E</key>
    <string>uni0B_9E_.glif</string>
    <key>uni0B9F</key>
    <string>uni0B_9F_.glif</string>
    <key>uni0BA3</key>
    <string>uni0B_A_3.glif</string>
    <key>uni0BA4</key>
    <string>uni0B_A_4.glif</string>
    <key>uni0BA8</key>
    <string>uni0B_A_8.glif</string>
    <key>uni0BA9</key>
    <string>uni0B_A_9.glif</string>
    <key>uni0BAA</key>
    <string>uni0B_A_A_.glif</string>
    <key>uni0BAE</key>
    <string>uni0B_A_E_.glif</string>
    <key>uni0BAF</key>
    <string>uni0B_A_F_.glif</string>
    <key>uni0BB0</key>
    <string>uni0B_B_0.glif</string>
    <key>uni0BB1</key>
    <string>uni0B_B_1.glif</string>
    <key>uni0BB2</key>
    <string>uni0B_B_2.glif</string>
    <key>uni0BB3</key>
    <string>uni0B_B_3.glif</string>
    <key>uni0BB4</key>
    <string>uni0B_B_4.glif</string>
    <key>uni0BB5</key>
    <string>uni0B_B_5.glif</string>
    <key>uni0BB7</key>
    <string>uni0B_B_7.glif</string>
    <key>uni0BB8</key>
    <string>uni0B_B_8.glif</string>
    <key>uni0BB9</key>
    <string>uni0B_B_9.glif</string>
    <key>uni0BBE</key>
    <string>uni0B_B_E_.glif</string>
    <key>uni0BBF</key>
    <string>uni0B_B_F_.glif</string>
    <key>uni0BC0</key>
    <string>uni0B_C_0.glif</string>
    <key>uni0BC1</key>
    <string>uni0B_C_1.glif</string>
    <key>uni0BC2</key>
    <string>uni0B_C_2.glif</string>
    <key>uni0BC6</key>
    <string>uni0B_C_6.glif</string>
    <key>uni0BC7</key>
    <string>uni0B_C_7.glif</string>
    <key>uni0BC8</key>
    <string>uni0B_C_8.glif</string>
    <key>uni0BCA</key>
    <string>uni0B_C_A_.glif</string>
    <key>uni0BCB</key>
    <string>uni0B_C_B_.glif</string>
    <key>uni0BCC</key>
    <string>uni0B_C_C_.glif</string>
    <key>uni0BCD</key>
    <string>uni0B_C_D_.glif</string>
    <key>uni0BD7</key>
    <string>uni0B_D_7.glif</string>
    <key>uni0BE6</key>
    <string>uni0B_E_6.glif</string>
    <key>uni0BE7</key>
    <string>uni0B_E_7.glif</string>
    <key>uni0BE8</key>
    <string>uni0B_E_8.glif</string>
    <key>uni0BE9</key>
    <string>uni0B_E_9.glif</string>
    <key>uni0BEA</key>
    <string>uni0B_E_A_.glif</string>
    <key>uni0BEB</key>
    <string>uni0B_E_B_.glif</string>
    <key>uni0BEC</key>
    <string>uni0B_E_C_.glif</string>
    <key>uni0BED</key>
    <string>uni0B_E_D_.glif</string>
    <key>uni0BEE</key>
    <string>uni0B_E_E_.glif</string>
    <key>uni0BEF</key>
    <string>uni0B_E_F_.glif</string>
    <key>uni0BF0</key>
    <string>uni0B_F_0.glif</string>
    <key>uni0BF1</key>
    <string>uni0B_F_1.glif</string>
    <key>uni0BF2</key>
    <string>uni0B_F_2.glif</string>
    <key>uni0BF3</key>
    <string>uni0B_F_3.glif</string>
    <key>uni0BF4</key>
    <string>uni0B_F_4.glif</string>
    <key>uni0BF5</key>
    <string>uni0B_F_5.glif</string>
    <key>uni0BF6</key>
    <string>uni0B_F_6.glif</string>
    <key>uni0BF7</key>
    <string>uni0B_F_7.glif</string>
    <key>uni0BF8</key>
    <string>uni0B_F_8.glif</string>
    <key>uni0BF9</key>
    <string>uni0B_F_9.glif</string>
    <key>uni0BFA</key>
    <string>uni0B_F_A_.glif</string>
    <key>uni0964</key>
    <string>uni0964.glif</string>
    <key>uni0965</key>
    <string>uni0965.glif</string>
    <key>uni0BB6</key>
    <string>uni0B_B_6.glif</string>
    <key>uni0BD0</key>
    <string>uni0B_D_0.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni0B95_uni0BBF</key>
    <string>uni0B_95_uni0B_B_F_.glif</string>
    <key>uni0B99_uni0BBF</key>
    <string>uni0B_99_uni0B_B_F_.glif</string>
    <key>uni0B9A_uni0BBF</key>
    <string>uni0B_9A__uni0B_B_F_.glif</string>
    <key>uni0B9C_uni0BBF</key>
    <string>uni0B_9C__uni0B_B_F_.glif</string>
    <key>uni0B9E_uni0BBF</key>
    <string>uni0B_9E__uni0B_B_F_.glif</string>
    <key>uni0B9F_uni0BBF</key>
    <string>uni0B_9F__uni0B_B_F_.glif</string>
    <key>uni0BA3_uni0BBF</key>
    <string>uni0B_A_3_uni0B_B_F_.glif</string>
    <key>uni0BA4_uni0BBF</key>
    <string>uni0B_A_4_uni0B_B_F_.glif</string>
    <key>uni0BA8_uni0BBF</key>
    <string>uni0B_A_8_uni0B_B_F_.glif</string>
    <key>uni0BA9_uni0BBF</key>
    <string>uni0B_A_9_uni0B_B_F_.glif</string>
    <key>uni0BAA_uni0BBF</key>
    <string>uni0B_A_A__uni0B_B_F_.glif</string>
    <key>uni0BAE_uni0BBF</key>
    <string>uni0B_A_E__uni0B_B_F_.glif</string>
    <key>uni0BAF_uni0BBF</key>
    <string>uni0B_A_F__uni0B_B_F_.glif</string>
    <key>uni0BB0_uni0BBF</key>
    <string>uni0B_B_0_uni0B_B_F_.glif</string>
    <key>uni0BB1_uni0BBF</key>
    <string>uni0B_B_1_uni0B_B_F_.glif</string>
    <key>uni0BB2_uni0BBF</key>
    <string>uni0B_B_2_uni0B_B_F_.glif</string>
    <key>uni0BB3_uni0BBF</key>
    <string>uni0B_B_3_uni0B_B_F_.glif</string>
    <key>uni0BB4_uni0BBF</key>
    <string>uni0B_B_4_uni0B_B_F_.glif</string>
    <key>uni0BB5_uni0BBF</key>
    <string>uni0B_B_5_uni0B_B_F_.glif</string>
    <key>uni0BB7_uni0BBF</key>
    <string>uni0B_B_7_uni0B_B_F_.glif</string>
    <key>uni0BB8_uni0BBF</key>
    <string>uni0B_B_8_uni0B_B_F_.glif</string>
    <key>uni0BB9_uni0BBF</key>
    <string>uni0B_B_9_uni0B_B_F_.glif</string>
    <key>uni0B95_uni0BC0</key>
    <string>uni0B_95_uni0B_C_0.glif</string>
    <key>uni0B99_uni0BC0</key>
    <string>uni0B_99_uni0B_C_0.glif</string>
    <key>uni0B9A_uni0BC0</key>
    <string>uni0B_9A__uni0B_C_0.glif</string>
    <key>uni0B9C_uni0BC0</key>
    <string>uni0B_9C__uni0B_C_0.glif</string>
    <key>uni0B9E_uni0BC0</key>
    <string>uni0B_9E__uni0B_C_0.glif</string>
    <key>uni0B9F_uni0BC0</key>
    <string>uni0B_9F__uni0B_C_0.glif</string>
    <key>uni0BA3_uni0BC0</key>
    <string>uni0B_A_3_uni0B_C_0.glif</string>
    <key>uni0BA4_uni0BC0</key>
    <string>uni0B_A_4_uni0B_C_0.glif</string>
    <key>uni0BA8_uni0BC0</key>
    <string>uni0B_A_8_uni0B_C_0.glif</string>
    <key>uni0BA9_uni0BC0</key>
    <string>uni0B_A_9_uni0B_C_0.glif</string>
    <key>uni0BAA_uni0BC0</key>
    <string>uni0B_A_A__uni0B_C_0.glif</string>
    <key>uni0BAE_uni0BC0</key>
    <string>uni0B_A_E__uni0B_C_0.glif</string>
    <key>uni0BAF_uni0BC0</key>
    <string>uni0B_A_F__uni0B_C_0.glif</string>
    <key>uni0BB0_uni0BC0</key>
    <string>uni0B_B_0_uni0B_C_0.glif</string>
    <key>uni0BB1_uni0BC0</key>
    <string>uni0B_B_1_uni0B_C_0.glif</string>
    <key>uni0BB2_uni0BC0</key>
    <string>uni0B_B_2_uni0B_C_0.glif</string>
    <key>uni0BB3_uni0BC0</key>
    <string>uni0B_B_3_uni0B_C_0.glif</string>
    <key>uni0BB4_uni0BC0</key>
    <string>uni0B_B_4_uni0B_C_0.glif</string>
    <key>uni0BB5_uni0BC0</key>
    <string>uni0B_B_5_uni0B_C_0.glif</string>
    <key>uni0BB7_uni0BC0</key>
    <string>uni0B_B_7_uni0B_C_0.glif</string>
    <key>uni0BB8_uni0BC0</key>
    <string>uni0B_B_8_uni0B_C_0.glif</string>
    <key>uni0BB9_uni0BC0</key>
    <string>uni0B_B_9_uni0B_C_0.glif</string>
    <key>uni0B95_uni0BC1</key>
    <string>uni0B_95_uni0B_C_1.glif</string>
    <key>uni0B99_uni0BC1</key>
    <string>uni0B_99_uni0B_C_1.glif</string>
    <key>uni0B9A_uni0BC1</key>
    <string>uni0B_9A__uni0B_C_1.glif</string>
    <key>uni0B9E_uni0BC1</key>
    <string>uni0B_9E__uni0B_C_1.glif</string>
    <key>uni0B9F_uni0BC1</key>
    <string>uni0B_9F__uni0B_C_1.glif</string>
    <key>uni0BA3_uni0BC1</key>
    <string>uni0B_A_3_uni0B_C_1.glif</string>
    <key>uni0BA4_uni0BC1</key>
    <string>uni0B_A_4_uni0B_C_1.glif</string>
    <key>uni0BA8_uni0BC1</key>
    <string>uni0B_A_8_uni0B_C_1.glif</string>
    <key>uni0BA9_uni0BC1</key>
    <string>uni0B_A_9_uni0B_C_1.glif</string>
    <key>uni0BAA_uni0BC1</key>
    <string>uni0B_A_A__uni0B_C_1.glif</string>
    <key>uni0BAE_uni0BC1</key>
    <string>uni0B_A_E__uni0B_C_1.glif</string>
    <key>uni0BAF_uni0BC1</key>
    <string>uni0B_A_F__uni0B_C_1.glif</string>
    <key>uni0BB0_uni0BC1</key>
    <string>uni0B_B_0_uni0B_C_1.glif</string>
    <key>uni0BB1_uni0BC1</key>
    <string>uni0B_B_1_uni0B_C_1.glif</string>
    <key>uni0BB2_uni0BC1</key>
    <string>uni0B_B_2_uni0B_C_1.glif</string>
    <key>uni0BB3_uni0BC1</key>
    <string>uni0B_B_3_uni0B_C_1.glif</string>
    <key>uni0BB4_uni0BC1</key>
    <string>uni0B_B_4_uni0B_C_1.glif</string>
    <key>uni0BB5_uni0BC1</key>
    <string>uni0B_B_5_uni0B_C_1.glif</string>
    <key>uni0B95_uni0BC2</key>
    <string>uni0B_95_uni0B_C_2.glif</string>
    <key>uni0B99_uni0BC2</key>
    <string>uni0B_99_uni0B_C_2.glif</string>
    <key>uni0B9A_uni0BC2</key>
    <string>uni0B_9A__uni0B_C_2.glif</string>
    <key>uni0B9E_uni0BC2</key>
    <string>uni0B_9E__uni0B_C_2.glif</string>
    <key>uni0B9F_uni0BC2</key>
    <string>uni0B_9F__uni0B_C_2.glif</string>
    <key>uni0BA3_uni0BC2</key>
    <string>uni0B_A_3_uni0B_C_2.glif</string>
    <key>uni0BA4_uni0BC2</key>
    <string>uni0B_A_4_uni0B_C_2.glif</string>
    <key>uni0BA8_uni0BC2</key>
    <string>uni0B_A_8_uni0B_C_2.glif</string>
    <key>uni0BA9_uni0BC2</key>
    <string>uni0B_A_9_uni0B_C_2.glif</string>
    <key>uni0BAA_uni0BC2</key>
    <string>uni0B_A_A__uni0B_C_2.glif</string>
    <key>uni0BAE_uni0BC2</key>
    <string>uni0B_A_E__uni0B_C_2.glif</string>
    <key>uni0BAF_uni0BC2</key>
    <string>uni0B_A_F__uni0B_C_2.glif</string>
    <key>uni0BB0_uni0BC2</key>
    <string>uni0B_B_0_uni0B_C_2.glif</string>
    <key>uni0BB1_uni0BC2</key>
    <string>uni0B_B_1_uni0B_C_2.glif</string>
    <key>uni0BB2_uni0BC2</key>
    <string>uni0B_B_2_uni0B_C_2.glif</string>
    <key>uni0BB3_uni0BC2</key>
    <string>uni0B_B_3_uni0B_C_2.glif</string>
    <key>uni0BB4_uni0BC2</key>
    <string>uni0B_B_4_uni0B_C_2.glif</string>
    <key>uni0BB5_uni0BC2</key>
    <string>uni0B_B_5_uni0B_C_2.glif</string>
    <key>uni0B95_uni0BCD_uni0BB7</key>
    <string>uni0B_95_uni0B_C_D__uni0B_B_7.glif</string>
    <key>uni0B95_uni0BCD_uni0BB7_uni0BBF</key>
    <string>uni0B_95_uni0B_C_D__uni0B_B_7_uni0B_B_F_.glif</string>
    <key>uni0B95_uni0BCD_uni0BB7_uni0BC0</key>
    <string>uni0B_95_uni0B_C_D__uni0B_B_7_uni0B_C_0.glif</string>
    <key>uni0BB8_uni0BCD_uni0BB0_uni0BC0.abvs</key>
    <string>uni0B_B_8_uni0B_C_D__uni0B_B_0_uni0B_C_0.abvs.glif</string>
    <key>uni0B95_uni0BCD</key>
    <string>uni0B_95_uni0B_C_D_.glif</string>
    <key>uni0B99_uni0BCD</key>
    <string>uni0B_99_uni0B_C_D_.glif</string>
    <key>uni0B9A_uni0BCD</key>
    <string>uni0B_9A__uni0B_C_D_.glif</string>
    <key>uni0B9C_uni0BCD</key>
    <string>uni0B_9C__uni0B_C_D_.glif</string>
    <key>uni0B9E_uni0BCD</key>
    <string>uni0B_9E__uni0B_C_D_.glif</string>
    <key>uni0B9F_uni0BCD</key>
    <string>uni0B_9F__uni0B_C_D_.glif</string>
    <key>uni0BA3_uni0BCD</key>
    <string>uni0B_A_3_uni0B_C_D_.glif</string>
    <key>uni0BA4_uni0BCD</key>
    <string>uni0B_A_4_uni0B_C_D_.glif</string>
    <key>uni0BA8_uni0BCD</key>
    <string>uni0B_A_8_uni0B_C_D_.glif</string>
    <key>uni0BA9_uni0BCD</key>
    <string>uni0B_A_9_uni0B_C_D_.glif</string>
    <key>uni0BAA_uni0BCD</key>
    <string>uni0B_A_A__uni0B_C_D_.glif</string>
    <key>uni0BAE_uni0BCD</key>
    <string>uni0B_A_E__uni0B_C_D_.glif</string>
    <key>uni0BAF_uni0BCD</key>
    <string>uni0B_A_F__uni0B_C_D_.glif</string>
    <key>uni0BB0_uni0BCD</key>
    <string>uni0B_B_0_uni0B_C_D_.glif</string>
    <key>uni0BB1_uni0BCD</key>
    <string>uni0B_B_1_uni0B_C_D_.glif</string>
    <key>uni0BB2_uni0BCD</key>
    <string>uni0B_B_2_uni0B_C_D_.glif</string>
    <key>uni0BB3_uni0BCD</key>
    <string>uni0B_B_3_uni0B_C_D_.glif</string>
    <key>uni0BB4_uni0BCD</key>
    <string>uni0B_B_4_uni0B_C_D_.glif</string>
    <key>uni0BB5_uni0BCD</key>
    <string>uni0B_B_5_uni0B_C_D_.glif</string>
    <key>uni0BB7_uni0BCD</key>
    <string>uni0B_B_7_uni0B_C_D_.glif</string>
    <key>uni0BB8_uni0BCD</key>
    <string>uni0B_B_8_uni0B_C_D_.glif</string>
    <key>uni0BB9_uni0BCD</key>
    <string>uni0B_B_9_uni0B_C_D_.glif</string>
    <key>uni0B95_uni0BCD_uni0BB7_uni0BCD</key>
    <string>uni0B_95_uni0B_C_D__uni0B_B_7_uni0B_C_D_.glif</string>
    <key>uni0BB6_uni0BCD</key>
    <string>uni0B_B_6_uni0B_C_D_.glif</string>
    <key>uni0BB6_uni0BBF</key>
    <string>uni0B_B_6_uni0B_B_F_.glif</string>
    <key>uni0BB6_uni0BC0</key>
    <string>uni0B_B_6_uni0B_C_0.glif</string>
    <key>uni0BC1.abvs</key>
    <string>uni0B_C_1.abvs.glif</string>
    <key>uni0BC2.abvs</key>
    <string>uni0B_C_2.abvs.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
